<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>New call answer!</title>
</head>
<body>
<h1>You received a new anwser on a call for tender!</h1>

<p>Hello {{ firstname }}! Someone posted an offer on your call for tenders '{{ tender.title }}'.</p>

</body>
</html>