<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Company contact</title>
</head>
<body>
<h1>Hello, {{ fullname }} from {{ company }} sent you a message!</h1>

<p>{{ message }}</p>

<h4>Hit reply to reply!</h4>

</body>
</html>