<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Company initation!</title>
</head>
<body>
<h1>Hello, {{ fullname }} sent you an invite!</h1>

<p>You have been invited to join {{ company }} on The Beverage Marketplace!</p>

<a href="{{ invite_link }}">Join now!</a>

</body>
</html>