<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>
</head>
<body>
<p>{{ name }} contacted you</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>
<p>Company: {{ company }}</p>
<br>
<br>
<p>{{ message }}</p>
</body>
</html>