<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Password Reset</title>
</head>
<body>
<h1>Reset your password</h1>

<p>Hello {{ firstname }}! You asked a link for resetting your password, here it is! Just click on the link or copy paste
it into your browser.</p>

<p><strong>Warning! This link is only valid within the next 24h.</strong></p>

<a href="{{ reset_link }}" target="_blank">{{ reset_link }}</a>
</body>
</html>