<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>Validation</title>
</head>
<body>
<h1>Validate your email!</h1>

<p>Hello {{ firstname }}! Validating your email is the last step of the registration. To validate your email
address click ont the link or copy paste it into your browser.</p>

<a href="{{ validation_link }}" target="_blank">{{ validation_link }}</a>
</body>
</html>