{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'error.503.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-bg-img full-height">
        <section style="display: inline-block; vertical-align: middle; float: none;">
            <div class="container">
                <div class="verticalcenter text-center">
                    <div class="verticalcenter">
                        <div class="animated fadeInDown white-text">
                            <h4>503</h4>
                            <hr class="divider-short">
                            <h5>{{ 'error.503.back' | trans }}</h5>
                            <p>{{ 'error.503.fix' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}