{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'error.500.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-bg-img full-height">
        <section style="margin-top: 150px">
            <div class="container">
                <div class="verticalcenter text-center">
                    <div class="verticalcenter">
                        <div class="animated fadeInDown white-text">
                            <h4>500</h4>
                            <hr class="divider-short">
                            <h5>{{ 'error.500.error' | trans }}</h5>
                            <p>{{ 'error.500.fix' | trans }}</p>
                            {% if referer is defined and referer != "" %}
                                <a href="{{ referer }}" class="btn btn-default btn-stc waves-effect waves-light"><i class="fa fa-angle-left right"></i> {{ 'error.back' | trans }}</a>
                            {% endif %}
                            <a href="{{ path('beverage_mp_homepage',{'_locale':app.request.locale}) }}" class="btn btn-primary btn-etc waves-effect waves-light"><i class="fa fa-home right"></i> {{ 'error.home' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}