{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Directory - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">

                    <div class="row">
                        <div class="col">
                            <div id="stats"></div>
                        </div>
                        <div class="col">
                            <div id="sort"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>Name</p>
                        </div>
                        <div class="col">
                            Country
                        </div>
                        <div class="col">
                            Type
                        </div>
                    </div>

                    <hr>

                    <div id="hits"></div>

                    <div class="text-center w-100">
                        <div id="pagination"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 jumbotron" style="max-height: 140px">
                <input type="search" id="search-input" placeholder="Search for companies"/>

                <hr>

                <div class="text-center">
                    <p>Powered by
                        <a href="https://www.algolia.com/" target="_blank">
                            <img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" alt="Algolia" class="img-fluid" width="25%">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    {% verbatim %}
    <script type="text/html" id="hit-template">
    <div class="row">
        <div class="col">
            <a href="#" onclick="viewAction('{{id}}')">{{{_highlightResult.name.value}}}</a>
        </div>
        <div class="col">
            <p>{{country}}</p>
        </div>
        <div class="col">
            <p>{{primaryContact.type}}</p>
        </div>
    </div>
    <hr>
    </script>
    <script type="text/html" id="refinement-list-origin">
        <div>
            <input type="checkbox" id="{{name}}" placeholder="{{name}} : {{count}}">
        </div>
    </script>
    <script type="text/html" id="refinement-list-type">
        <div>
            <input type="checkbox" id="{{name}}" placeholder="{{name}} : {{count}}">
        </div>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var client = algoliasearch('{{ algolia_app_id }}','{{ algolia_api_key }}');
        var index = client.initIndex('staging_Business_{{ app.environment }}');
        var viewUrl = '{{ path('beverage_mp_view_business',{'businessId':'ID'}) }}';

        var search = instantsearch({
            appId: '{{ algolia_app_id }}',
            apiKey: '{{ algolia_api_key }}',
            indexName: 'staging_Business_{{ app.environment }}',
            urlSync: true
        });
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#search-input'
            })
        );
        {% verbatim %}
        search.addWidget(
            instantsearch.widgets.hits({
                container: "#hits",
                hitsPerPage: 20,
                templates: {
                    item: document.getElementById('hit-template').innerHTML,
                    empty: "We didn't find any results for the search <em>\"{{query}}\"</em>"
                },
                cssClasses: {
                    root: 'row',
                    item: 'w-100'
                }
            })
        );
        {% endverbatim %}
        // pagination widget
        search.addWidget(
            instantsearch.widgets.pagination({
                container: '#pagination'
            })
        );
        search.start();

        function viewAction(objectId) {
            var temp = viewUrl.slice(0,-2) + objectId;
            window.open(temp,'_self');
        }
    </script>
{% endblock %}