{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ business.name }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/corks.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="jumbotron">

            {% if app.request.get('success') is defined and app.request.get('success') == true %}
                <div class="card success-color text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">Your message has been successfully sent.</p>
                    </div>
                </div>
            {% endif %}

            <h1 class="h1-responsive">{{ business.name }}</h1>

            <hr>

            <div class="row">
                <div class="col">
                    <p><i class="fa fa-phone"></i> {{ business.phone }}</p>

                    <p>Address: {{ business.address }}</p>

                    <p>State: {{ business.state }}</p>

                    <p>ZIP: {{ business.zip }}</p>

                    <p>Country: {{ business.country }}</p>
                </div>
                <div class="col">
                    <p>Email: {{ business.email }}</p>

                    <p>Website: <a href="{{ business.website }}" target="_blank">{{ business.website }}</a></p>

                    <p>Primary contact: {{ business.primaryContact.firstName }} {{ business.primaryContact.lastName }}</p>
                </div>
            </div>

            <h2 class="h2-responsive">Contact</h2>

            <hr>

            <form action="{{ path('beverage_mp_contact_business', {'businessId': business.id }) }}" method="post">
                <div class="md-form">
                    <textarea type="text" class="form-control md-textarea" id="message" name="message" required></textarea>
                    <label for="message">Your message</label>
                </div>

                <button type="submit" class="btn btn-info">Send message</button>
            </form>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}