{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Call for tenders - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/corks.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">

                    <div class="row">
                        <div class="col">
                            <div id="stats"></div>
                        </div>
                        <div class="col">
                            <div id="sort"></div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- SEARCH RESULTS -->
                        <div id="hits" class="w-100"></div>

                    </div>

                    <div class="text-center w-100">
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 jumbotron" style="max-height: 1015px;">
                <input type="search" id="search-input" placeholder="Search for tenders"/>

                <hr>

                <h3 class="h3-responsive">Quantity</h3>

                <div id="quantity"></div>

                <hr>

                <h3 class="h3-responsive">Minimum price</h3>

                <div id="price-min"></div>

                <hr>

                <h3 class="h3-responsive">Maximum price</h3>

                <div id="price-max"></div>

                <hr>

                <h3 class="h3-responsive">Filters</h3>

               <div class="row">
                   <div class="col">
                       <div id="filters-location"></div>
                   </div>
                   <div class="col">
                       <div id="filters-currency"></div>
                   </div>
               </div>

                <hr>

                <div class="text-center">
                    <p>Powered by
                        <a href="https://www.algolia.com/" target="_blank">
                            <img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" alt="Algolia" class="img-fluid" width="25%">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    {% verbatim %}
    <script type="text/html" id="hit-template">
        <div class="card card-body hit">
            <h4 class="card-title">{{{_highlightResult.title.value}}}</h4>
            <p class="card-text">{{{_highlightResult.tinyDesc.value}}}</p>
            <p class="card-text">{{priceMin}} - {{priceMax}} {{currency}}</p>
            <p class="card-text">Quantity: {{quantity}}</p>
            <div class="flex-row">
                <a onclick="viewAction('{{tenderID}}')" class="card-link">View</a>
                {% endverbatim %}
                {% if is_granted('ROLE_PRODUCER') %}{% verbatim %}<a onclick="viewAction('{{tenderID}}')" class="card-link">Answer</a>{% endverbatim %}{% endif %}
                {% verbatim %}
            </div>
        </div>
    </script>
    <script type="text/html" id="refinement-list-currency">
        <div class="form-group">
            <input type="checkbox" id="{{name}}" aria-checked="{{isRefined}}">
            <label for="{{name}}">{{name}} : {{count}}</label>
        </div>
    </script>
     <script type="text/html" id="refinement-list-location">
        <div class="form-group">
            <input type="checkbox" id="{{name}}" aria-checked="{{isRefined}}">
            <label for="{{name}}">{{name}} : {{count}}</label>
        </div>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var client = algoliasearch('{{ algolia_app_id }}','{{ algolia_api_key }}');
        var index = client.initIndex('staging_Tender_{{ app.environment }}');
        var viewUrl = '{{ path('beverage_mp_view_tender',{'tenderId':'ID'}) }}';

        var search = instantsearch({
            appId: '{{ algolia_app_id }}',
            apiKey: '{{ algolia_api_key }}',
            indexName: 'staging_Tender_{{ app.environment }}',
            urlSync: true
        });
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#search-input'
            })
        );
        {% verbatim %}
        search.addWidget(
            instantsearch.widgets.hits({
                container: '#hits',
                hitsPerPage: 10,
                templates: {
                    item: document.getElementById('hit-template').innerHTML,
                    empty: "We didn't find any results for the search <em>\"{{query}}\"</em>"
                }
            })
        );
        {% endverbatim %}
        // pagination widget
        search.addWidget(
            instantsearch.widgets.pagination({
                container: '#pagination'
            })
        );
        //stats
        search.addWidget(
            instantsearch.widgets.stats({
                container: '#stats'
            })
        );
        //sort by
        search.addWidget(
            instantsearch.widgets.sortBySelector({
                container: '#sort',
                indices: [
                    {name: 'staging_Tender_{{ app.environment }}', label: 'Most relevant'},
                    {name: 'tender_{{ app.environment }}_search_quantity_asc', label: 'Lowest quantity'},
                    {name: 'tender_{{ app.environment }}_search_quantity_desc', label: 'Highest quantity'},
                    {name: 'tender_{{ app.environment }}_search_price_min_asc', label: 'Lowest minimum price'},
                    {name: 'tender_{{ app.environment }}_search_price_min_desc', label: 'Highest minimum price'},
                    {name: 'tender_{{ app.environment }}_search_price_max_asc', label: 'Lowest maximum price'},
                    {name: 'tender_{{ app.environment }}_search_price_max_desc', label: 'Highest maximum price'},
                    {name: 'tender_{{ app.environment }}_search_date_asc', label: 'Oldest first'},
                    {name: 'tender_{{ app.environment }}_search_date_desc', label: 'Newest first'}
                ],
                cssClasses: {
                    root: 'browser-default'
                }
            })
        );
        // quantity slider
        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#quantity',
                attributeName: 'quantity',
                tooltips: {
                    format: function (rawValue) {
                        return Math.round(rawValue).toLocaleString();
                    }
                }
            })
        );
        // price min slider
        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#price-min',
                attributeName: 'priceMin',
                tooltips: {
                    format: function (rawValue) {
                        return Math.round(rawValue).toLocaleString();
                    }
                }
            })
        );
        // price max slider
        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#price-max',
                attributeName: 'priceMax',
                tooltips: {
                    format: function (rawValue) {
                        return Math.round(rawValue).toLocaleString();
                    }
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-currency',
                attributeName: 'currency',
                sortBy: ['isRefined','quantity:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-currency').innerHTML
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-location',
                attributeName: 'location',
                sortBy: ['isRefined','quantity:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-location').innerHTML
                }
            })
        );
        search.start();

        function viewAction(objectId) {
            var temp = viewUrl.slice(0,-2) + objectId;
            window.open(temp,'_self');
        }
    </script>
{% endblock %}