{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}My calls - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/beer.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Operations successfully executed.</p>
                </div>
            </div>
        {% endif %}

        {% for tender in pagination %}
            <div class="card card-body hit">
                <h4 class="card-title">{{ tender.title }}</h4>
                <p class="card-text">{{ tender.tinyDesc }}</p>
                <p class="card-text">{{tender.priceMin}} - {{tender.priceMax}} {{tender.currency}}</p>
                <p class="card-text">Quantity: {{tender.quantity}}</p>
                <div class="flex-row">
                    <a href="{{ path('beverage_mp_view_tender', {'tenderId': tender.id}) }}" class="card-link">View</a>
                    <a href="{{ path('beverage_mp_delete_tender', {'tenderId': tender.id}) }}" class="card-link">Delete</a>
                </div>
            </div>
        {% else %}
            <p>You currently published no call for tender.</p>
        {% endfor %}

        <div class="text-align-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}