{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Call for tender - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/corks.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('error') is defined and app.request.get('error') == true %}
            {% if app.request.get('type') is defined %}
                {% set type = app.request.get('type') %}
                {% if type == 1 %}
                    <div class="card red lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">You can not answer to your own call for tenders.</p>
                        </div>
                    </div>
                {% elseif type == 2 %}
                    <div class="card red lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">Please check that all fields are properly filled before
                            sending your answer.</p>
                        </div>
                    </div>
                {% elseif type == 3 %}
                    <div class="card red lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">You already made an offer to this call for tenders.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">You answer has been successfully sent to the caller.</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="h3">{{ tender.title }}</h3>
                    <hr>
                    <p>{{ tender.description }}</p>

                    {% if is_granted('ROLE_PRODUCER') %}<a type="button" class="btn btn-info" data-toggle="modal" data-target="#answerModal">Answer</a>{% endif %}
                </div>

                {% if not is_granted('ROLE_PRODUCER') and answers is defined %}
                <div class="jumbotron">
                    <h3 class="h3-responsive">Responses</h3>

                    {% if answers | length <= 0 %}
                        <p>There is currently no answer to this call for tenders, if no respose appears maybe you should review
                        your criteria down.</p>
                    {% else %}
                        {% for answer in answers %}
                            <div class="card card-body">
                                <h4 class="h4-responsive">{{ answer.user.firstName }} {{ answer.user.lastName | first }}</h4>
                                <p class="card-text">Quantity: {{ answer.quantity }}</p>
                                <p class="card-text">Price: {{ answer.price }}</p>
                                <p class="card-text">{{ answer.response }}</p>
                                <div class="flex-row">
                                    <a class="card-link">Contact back</a>
                                    <a class="card-link">Get contact info</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div class="col-md-4 jumbotron">
                <h3 class="h3-responsive">Author</h3>
                <hr>
                <p>{{ tender.user.business.name }}</p>
                <h3 class="h3-responsive">Information</h3>
                <hr>
                <p>Quantity: {{ tender.quantity }}</p>
                <p>Price range: {{ tender.priceMin }} - {{ tender.priceMax }} {{ tender.currency }}</p>
                <p>Country: {{ tender.location }}</p>
                {% if is_granted('ROLE_PRODUCER') %}
                    <hr>
                    <a type="button" class="btn btn-info" data-toggle="modal" data-target="#answerModal">Answer</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}

        {% if is_granted('ROLE_PRODUCER') %}
        <!--Modal: Contact form-->
        <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModal" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">
                        <h4 class="title"><i class="fa fa-hand-paper-o"></i> Make an offer</h4>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <form class="modal-body mb-0" action="{{ path('beverage_mp_answer_tender', {'tenderId': tender.id}) }}" method="post">

                        <p>Keep in mind that making an offer outsite of the caller's bounds
                        can be useless. Your price must be for the caller currency.</p>

                        <div class="md-form form-sm">
                            <input type="number" id="quantity" name="quantity" class="form-control" required>
                            <label for="quantity">Quantity</label>
                        </div>

                        <div class="md-form form-sm">
                            <input type="number" id="price" name="price" class="form-control" step="0.01" required>
                            <label for="price">Price in {{ tender.currency | upper }}</label>
                        </div>

                        <div class="md-form form-sm">
                            <textarea type="text" id="message" name="message" class="form-control md-textarea" maxlength="250" required></textarea>
                            <label for="message">Your message</label>
                        </div>

                        <div class="text-center mt-1-half">
                            <button class="btn btn-info mb-2">Send <i class="fa fa-send ml-1"></i></button>
                        </div>

                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Contact form-->
        {% endif %}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}