<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Admin - The Beverage MP{% endblock %}</title>

    <meta name="robots" content="noindex,nofollow"/>

    {% block css_includes %}
        <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/mdb.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    {% block navbar %}
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark special-color fixed-top scrolling-navbar">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ path('beverage_mp_admin_homepage') }}">
                <img src="{{ asset('img/logo.png') }}" class="img-fluid" alt="The Beverage Marketplace" style="height: 30px;">
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_admin_homepage') }}">Admin home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_list_users') }}">List</a>
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_add_user') }}">Add</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="tenderDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tenders</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="tenderDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_list_tenders') }}">List</a>
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_add_tender') }}">Add</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_admin_list_products') }}">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="newsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="newsDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_publish_news') }}">Publish</a>
                            <a class="dropdown-item" href="{{ path('beverage_mp_admin_list_news') }}">List</a>
                        </div>
                    </li>
                </ul>
                <!-- Links -->

                <!-- User Actions -->
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="profileMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('uploads/profile/' ~ app.user.profilePic) }}" class="img-fluid rounded-circle z-depth-0">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenuDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_personal_profile') }}">My profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('beverage_mp_homepage') }}">Exit console</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    {% endblock %}

    {% block global_modals %}
        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Disconnect?</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fa fa-sign-out fa-4x mb-3 animated rotateIn"></i>
                            <p>You are about to logout. You will no longer receive notifications (except mails). Are you sure ?</p>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a href="{{ path('beverage_mp_logout') }}" class="btn btn-primary-modal">Yes, logout <i class="fa fa-sign-out ml-1"></i></a>
                        <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No, stay logged in</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Logout Modal -->
    {% endblock %}
{% endblock %}

{% block js_includes %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mdb.js') }}"></script>
{% endblock %}
</body>
</html>