{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Subscription - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">Subscription</h1>

            <hr>

            <p>Your subscription: {{ plan.name }}: {{ plan.amount/100 | number_format(2,'.',' ') }} {{ plan.currency }}/{{ plan.interval }}</p>

            <form action="{{ path('beverage_mp_subscribe', {'planId': plan.id, 'step': 2}) }}" method="post" id="payment-form">
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input type="email" class="form-control disabled" id="email" name="email" value="{{ app.user.email }}" required disabled>
                            <label for="email">Email</label>
                        </div>

                        <div id="card"></div>
                        <div id="card-errors"></div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" class="form-control" id="coupon" name="coupon">
                            <label for="coupon">Coupon code</label>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-rounded">Subscribe <i class="fa fa-circle-o-notch fa-spin" style="display: none"></i></button>
                </div>
            </form>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        function lockForm() {
            $('input').attr('disabled');
            $('input').addClass('disabled')
        }

        function unlockForm() {
            $('input').removeAttr('disabled');
            $('input').removeClass('disabled')
        }

        function stripeTokenHandler(token) {
            $.ajax({
                url: '{{ path('beverage_mp_subscribe',{'planId':plan.id,'step':2}) }}',
                method: 'POST',
                data: {
                    email: $('input#email').val(),
                    coupon: $('input#coupon').val(),
                    token: token
                },
                error: function (xhr,status,error) {
                    console.log(error);
                },
                success: function (data,status) {
                    window.open('{{ path('beverage_mp_subscribe', {'planId':plan.id,'step':2}) }}?subid=' + data,'_self');
                },
                complete: function () {
                    $('.fa-spin').hide();
                }
            })
        }

        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();
        var style = {
            base: {
                color: '#32325d',
                lineHeight: '24px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };
        var card = elements.create('card', {style:style});
        card.mount('#card');
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
        // Handle form submission
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
                event.preventDefault();
                lockForm();
                $('.fa-spin').show();
                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        // Inform the user if there was an error
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server
                        stripeTokenHandler(result.token);
                    }
                });
        });
    </script>
{% endblock %}