{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Subscription successful - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">Subscription successful</h1>

            <hr>

            <p>We hope that you will enjoy working with us! Here is some information about your subscription:</p>

            <p><strong>Expiration date:</strong> {{ subscription.current_period_end | date }}</p>
            <p><strong>Billing:</strong> {% if subscription.billing == 'charge_automatically' %}charge automatically{% else %}send invoice{% endif %}</p>
            {% if subscription.billing == 'send_invoice' %}
                <p><strong>Day until due:</strong> {{ subscription.days_until_due }}</p>
            {% endif %}

            <p><strong>You can download your invoice and see information about your subsciption from <a href="{{ path('beverage_mp_personal_profile') }}">your profile page</a>.</strong></p>

            <div class="card warning-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">For security reasons, you will be logged out. Just login to discover your new features!.</p>
                </div>
            </div>

            <div class="text-center">
                <a type="button" href="{{ path('beverage_mp_homepage') }}" class="btn btn-info btn-rounded">Go back to homepage</a>
            </div>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}