{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}2FA Configuration - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/beer.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="jumbotron">
            <h1 class="h1-responsive">2FA Configuration</h1>

            <hr>

            <p>The double factor authentication (2FA) or multi factor authentication is a simple security enhancement
            of your account. Enter a 6 digit code with your password in order to access your account for each connexion.<br>
            This code will change every 30 seconds and will be given to you using your smartphone. To enable 2FA, please follow
            these three simple steps.</p>

            <p class="text-danger"><strong>Danger!</strong> This feature amy block access to your account if you lose the
            credentials. Be sure to carefully follow each step of the configuration before activating this authentication mode.</p>

            <hr>

            <h2 class="h2-responsive">1 - Install the Google Authenticator App</h2>

            <p>Install the app that will allow you to generate your access codes from your usual application download platform.</p>

            <div class="flex-center">
                <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png' width="150px"/></a>
                <a href="https://itunes.apple.com/fr/app/google-authenticator/id388497605?mt=8" target="_blank"><img src="{{ asset('img/appstore.svg') }}"></a>
            </div>

            <hr>

            <h2 class="h2-responsive">2 - Scan this QR code</h2>

            <p>Scan this QR code with the Google Authenticator in order to automatically create a new profile or enter the key manually.</p>

            <div class="flex-center">
                <figure class="figure">
                    <img src="{{ qrUrl }}" class="img-fluid" alt="QR Code">
                    <figcaption class="figure-caption text-md-center">{{ secret }}</figcaption>
                </figure>
            </div>

            <hr>

            <h2 class="h2-responsive">3 - Test your access codes</h2>

            <p>Test your app generated access code to ensure that configuration has been properly done.</p>

            <div class="form-inline flex-center">
                <div class="md-form form-group">
                    <input class="form-control" type="number" name="code" id="code" maxlength="6" minlength="6" required>
                    <label for="code">Code</label>
                </div>
                <div class="md-form form-group">
                    <button class="btn btn-default" id="test">Test &nbsp; <i class="fa fa-spinner fa-spin" style="display: none"></i></button>
                </div>
            </div>

            <div class="flex-center">
                <a href="{{ path('beverage_mp_bundle_settings') }}" class="btn btn-large info-color">Save</a>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            var $codeInput = $('input#code'),
                $test = $('button#test'),
                $spinner = $('.fa-spinner');

            $test.click(function () {
                $spinner.show();
                $.ajax({
                    url: '{{ path('beverage_mp_bundle_2fa_config_check') }}',
                    method: 'POST',
                    data: {
                        code: $codeInput.val()
                    },
                    success: function (data) {
                        if (data.valid === true){
                            $test.removeClass('btn-default');
                            $test.addClass('btn-success');
                            $test.text('2FA Enabled');
                        } else {
                            $test.removeClass('btn-default');
                            $test.addClass('btn-danger');
                            $test.text('Invalid code');
                        }
                    },
                    error: function (x,t,e) {
                        console.log(t);
                        $test.removeClass('btn-default');
                        $test.addClass('btn-danger');
                    },
                    complete: function () {
                        $spinner.hide()
                    }
                });
            });
        });
    </script>
{% endblock %}