{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'default.connect.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-bg-img full-height">
        <section>
            <div class="card animated fadeInDown" style="width: 28rem;">
                <form action="{{ path('beverage_mp_connect_check') }}" method="post" class="card-body">

                    <!--Header-->
                    <div class="form-header info-color">
                        <h3><i class="fa fa-lock"></i> {{ 'default.connect.title' | trans }}</h3>
                    </div>

                    {% if error is defined and error is not null %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ error.message }}</p>
                            </div>
                        </div>
                    {% elseif app.request.get('error') is defined and app.request.get('error') == true %}
                        {% if app.request.get('type') is defined %}
                            {% set type = app.request.get('error') %}
                            {% if type == 1 %}
                                <div class="card danger-color text-center z-depth-2" role="alert">
                                    <div class="card-body">
                                        <p class="white-text mb-0">{{ 'default.connect.error.1' | trans }}</p>
                                    </div>
                                </div>
                            {% elseif type == 2 %}
                                <div class="card danger-color text-center z-depth-2" role="alert">
                                    <div class="card-body">
                                        <p class="white-text mb-0">{{ 'default.connect.error.2' | trans }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% elseif app.request.get('validated') is defined and app.request.get('validated') == true %}
                        <div class="card success-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ 'default.connect.validated' | trans }}</p>
                            </div>
                        </div>
                    {% elseif app.request.get('with2fa') is defined and app.request.get('with2fa') == true %}
                        <div class="card info-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ 'default.connect.with2fa' | trans }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required>
                        <label for="username">{{ 'default.connect.email' | trans }}</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="password" name="_password" class="form-control" required>
                        <label for="password">{{ 'default.connect.password' | trans }}</label>
                    </div>

                    {% if app.request.get('with2fa') is defined and app.request.get('with2fa') == true %}
                        <div class="md-form">
                            <i class="fa fa-key prefix grey-text"></i>
                            <input type="number" id="2facode" name="2facode" class="form-control" required>
                            <label for="2facode">{{ 'default.connect.2fa' | trans }}</label>
                        </div>
                    {% endif %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-info waves-effect waves-light">{{ 'default.connect.login' | trans }}</button>
                    </div>

                </form>

                <!--Footer-->
                <div class="modal-footer">
                    <div style="position: absolute; right: 58%">
                        <p><a href="{{ path('beverage_mp_homepage') }}"><i class="fa fa-arrow-left"></i></a> {{ 'default.connect.homepage' | trans }}</p>
                    </div>
                    <div class="options">
                        <p>{{ 'default.connect.join' | trans({'%begin_link%':'<a href="' ~ path('beverage_mp_register') ~ '">','%end_link%':'</a>'}) | raw }}</p>
                        <p>{{ 'default.connect.forgot_pass' | trans({'%begin_link%':'<a href="' ~ path('beverage_mp_recover_password') ~ '">','%end_link%':'</a>'}) | raw }}</p>
                    </div>
                </div>

            </div>


        </section>
    </div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}