{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/vineyards.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    <div class="text-center special-color">
        <img src="{{ asset('img/logo.png') }}" style="width: 200px" class="d-inline">
        <h2 class="h2-responsive d-inline white-text align-middle">The Beverage Market</h2>
    </div>

    {% block navbar %}
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark special-color">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('beverage_mp_homepage') }}">{{ 'layout.navbar.home' | trans }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="tendersDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ 'layout.navbar.tenders' | trans }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="tendersDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_list_tenders') }}">Browse tenders</a>
                            {% if not is_granted('ROLE_PRODUCER') %}<a class="dropdown-item"
                                                                       href="{{ path('beverage_mp_create_tender') }}">
                                    Create tender</a>{% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="marketplaceDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ 'layout.navbar.marketplace' | trans }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="marketplaceDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_list_products') }}">Browse
                                products</a>
                            {% if is_granted('ROLE_PRODUCER') %}<a class="dropdown-item"
                                                                   href="{{ path('beverage_mp_create_product') }}">
                                    Create product</a>{% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_bundle_directory') }}">Directory</a>
                    </li>
                    {% if not is_granted('ROLE_FULL_ACCESS_MONTHLY') and not is_granted('ROLE_FULL_ACCESS_YEARLY') %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'plans'}) }}">Plans</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
                    </li>
                </ul>
                <!-- Links -->

                {% if app.user %}
                    <!-- User Actions -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" id="profileMenuDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('uploads/profile/' ~ app.user.profilePic) }}"
                                     class="img-fluid rounded-circle z-depth-0">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenuDropdown">
                                <a class="dropdown-item"
                                   href="{{ path('beverage_mp_personal_profile') }}">{{ 'layout.navbar.user.profile' | trans }}</a>
                                <a class="dropdown-item"
                                   href="{{ path('beverage_mp_profile_tenders') }}">{{ 'layout.navbar.user.tenders' | trans }}</a>
                                <a class="dropdown-item"
                                   href="{{ path('beverage_mp_profile_products') }}">{{ 'layout.navbar.user.products' | trans }}</a>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_ADMIN') %}<a class="dropdown-item"
                                                                    href="{{ path('beverage_mp_admin_homepage') }}">{{ 'layout.navbar.user.admin_console' | trans }}</a>{% endif %}
                                <a class="dropdown-item" href="#" data-toggle="modal"
                                   data-target="#logoutModal">{{ 'layout.navbar.user.logout' | trans }}</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <!-- Login or Register Buttons -->
                    <form class="form-inline ml-auto">
                        <a href="{{ path('beverage_mp_connect') }}" class="btn btn-sm align-middle blue-grey"
                           type="button">{{ 'layout.navbar.connect' | trans }}</a>
                        <a href="{{ path('beverage_mp_register') }}" class="btn btn-sm align-middle btn-info"
                           type="button">{{ 'layout.navbar.register' | trans }}</a>
                    </form>
                {% endif %}
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    {% endblock %}

    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-8">
                    <div id="featured-products" class="carousel slide carousel-multi-item" data-ride="carousel">

                        <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating" href="#featured-products" data-slide="prev"><i
                                        class="fa fa-chevron-left"></i></a>
                            <a class="btn-floating" href="#featured-products" data-slide="next"><i
                                        class="fa fa-chevron-right"></i></a>
                        </div>
                        <!--/.Controls-->

                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            {% set indicators = products|length/3 %}
                            {% for i in 0..(indicators | round(0,'ceil'))-1 %}
                                <li data-target="#featured-products" data-slide-to="{{ i }}"
                                    {% if i == 0 %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <!--/.Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            {% for product in products %}

                                {% if loop.index0%3 == 0 and loop.index0 == 0 %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                {% elseif loop.index0%3 == 0 and loop.index0 > 0 %}
                                    </div>
                                    <div class="carousel-item">
                                {% endif %}

                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="img-fluid" src="{{ asset('uploads/product/' ~ product.picture) }}"
                                             alt="{{ product.title }}"
                                             style="display:block;margin-left: auto;margin-right: auto;max-height: 250px;">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ product.title }}</h4>
                                            <p class="card-text">{{ product.tinyDesc }}</p>
                                            <a class="btn btn-primary"
                                               href="{{ path('beverage_mp_view_product', {'productId': product.id}) }}">View</a>
                                        </div>
                                    </div>
                                </div>

                                {% if loop.index0%3 != 0 and loop.index0 > 3 %}
                                    </div>
                                {% endif %}
                        </div>
                            {% endfor %}
                        </div>
                        <!--/.Slides-->
                    </div>

                <div class="jumbotron">
                    <section class="section extra-margins pb-3 text-center text-lg-left">
                        <h2 class="section-heading h1 pt-4">Latest tender</h2>

                        {% if tender %}
                            <h2 class="h2-responsive">{{ tender.title }}</h2>

                            <p>{{ tender.tinyDesc }}</p>

                            <div class="text-right">
                                <a type="button" class="btn btn-info" href="{{ path('beverage_mp_view_tender', {'tenderId': tender.id }) }}">More info</a>
                            </div>
                        {% endif %}
                    </section>
                </div>

                <div class="jumbotron rgba-indigo-strong">
                    <section class="section extra-margins pb-3 text-center text-lg-left">
                        <h2 class="section-heading h1 pt-4 white-text">Recent news</h2>

                        {% for new in pagination %}
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 mb-4">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="{{ asset('uploads/news/' ~ new.picture) }}" class="img-fluid"
                                             alt="{{ new.title }}">
                                        <a>
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-7 ml-xl-4 mb-4 white-text">
                                    <h4 class="mb-3"><strong>{{ new.title }}</strong></h4>
                                    <p>{{ new.content | raw }}</p>
                                    <p>{{ new.date | date }}</p>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->

                            <hr class="mb-5">
                        {% endfor %}

                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </section>
                </div>
            </div>

            <div class="col-md-4">
                {{ homepageBlocCode.value | raw }}
            </div>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}