{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}My Profile - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/beer.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="jumbotron">
            <h1 class="h1-responsive">My profile</h1>

            <hr>

            {% if app.request.get('error') is defined and app.request.get('error') == true %}
                {% if app.request.get('section') is defined and app.request.get('section') == 1 %}
                    {% if app.request.get('type') is defined %}
                        {% set type = app.request.get('type') %}
                        {% if type == 1 or type == 2%}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">The uploaded file size is exceeding 3MB.</p>
                                </div>
                            </div>
                        {% elseif type == 3 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">The file has only been partially uploaded. Please retry.</p>
                                </div>
                            </div>
                        {% elseif type == 4 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">The uploaded file format is invalid. Valid formats are: GIF, PNG and JPEG.</p>
                                </div>
                            </div>
                        {% elseif type == 5 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">The uploaded file is invalid.</p>
                                </div>
                            </div>
                        {% elseif type == 6 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">You must select a structure.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% elseif app.request.get('section') is defined and app.request.get('section') == 2 %}
                    {% if app.request.get('type') is defined %}
                        {% set type = app.request.get('type') %}
                        {% if type == 1 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">You can not edit a compay that you do not own.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% elseif app.request.get('section') is defined and app.request.get('section') == 3 %}
                    {% if app.request.get('type') is defined %}
                        {% set type = app.request.get('type') %}
                        {% if type == 1 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0">You try to invite an existing user or this user
                                    has already been invited.</p>
                                </div>
                            </div>
                        {% elseif type == 2 %}
                            <div class="card danger-color lighten-1 text-center z-depth-2">
                                <div class="card-body">
                                    <p class="white-text mb-0"></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
                {% if app.request.get('type') is defined and app.request.get('type') == 1 %}
                    <div class="card success-color lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">Your email has been successfully saved. An email has been sent
                                to validate it. Now you can use {{ app.user.email }} to connect.</p>
                        </div>
                    </div>
                {% else %}
                    <div class="card success-color lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">Your modifications has been successfully saved.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="container-fluid">
                <form class="row" action="{{ path('beverage_mp_personal_profile_edit') }}" method="post" enctype="multipart/form-data">

                    <div class="col-2 align-content-center">
                        <img src="{{ asset('uploads/profile/' ~  app.user.profilePic) }}" class="img-fluid avatar rounded-circle">
                        <div class="file-field">
                            <div class="btn btn-primary">
                                <span>Choose file</span>
                                <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
                                <input type="file" name="profilepic">
                            </div>
                        </div>
                    </div>

                    <div class="col-5">

                        <div class="md-form">
                            <input type="text" id="firstName" name="firstname" class="form-control" value="{{ app.user.firstName }}" required>
                            <label for="firstName">First name</label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="lastName" name="lastname" class="form-control" value="{{ app.user.lastName }}" required>
                            <label for="lastName">Last name</label>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="md-form">
                            <input type="tel" id="phone" class="form-control" name="phone" value="{{ app.user.phone }}" required>
                            <label for="phone">Phone (or mobile)</label>
                        </div>

                        <select class="mdb-select {% if app.user.type is defined %}disabled{% endif %}" id="type" name="type" disabled>
                            <option value="" disabled selected>Choose your account type <span class="red-text">*</span></option>
                            <optgroup label="Producer/Exporter">
                                <option value="Winery" {% if app.user.type == 'Winery' %}selected{% endif %}>Winery</option>
                                <option value="Distillery" {% if app.user.type == 'Distillery' %}selected{% endif %}>Distillery</option>
                                <option value="Breweries" {% if app.user.type == 'Breweries' %}selected{% endif %}>Breweries</option>
                                <option value="Cidrerie" {% if app.user.type == 'Cidrerie' %}selected{% endif %}>Cidrerie</option>
                                <option value="Negociant/Exporter {% if app.user.type == 'Negociant/Exporter' %}selected{% endif %}">Negociant/Exporter</option>
                                <option value="Agent/Broker" {% if app.user.type == 'Agent/Broker' %}selected{% endif %}>Agent/Broker</option>
                            </optgroup>
                            <optgroup label="Importer/Wholesaler">
                                <option value="Wine Importer" {% if app.user.type == 'Wine Importer' %}selected{% endif %}>Wine Importer</option>
                                <option value="Spirit Importer" {% if app.user.type == 'Spirit Importer' %}selected{% endif %}>Spirit Importer</option>
                                <option value="Cider Importer" {% if app.user.type == 'Cider Importer' %}selected{% endif %}>Cider Importer</option>
                                <option value="Beer Importer" {% if app.user.type == 'Beer Importer' %}selected{% endif %}>Beer Importer</option>
                                <option value="Wine Wholesaler" {% if app.user.type == 'Wine Wholesaler' %}selected{% endif %}>Wine Wholesaler</option>
                                <option value="Spirit Wholesaler" {% if app.user.type == 'Spirit Wholesaler' %}selected{% endif %}>Spirit Wholesaler</option>
                                <option value="Cider Wholesaler" {% if app.user.type == 'Cider Wholesaler' %}selected{% endif %}>Cider Wholesaler</option>
                                <option value="Beer Wholesaler" {% if app.user.type == 'Beer Wholesaler' %}selected{% endif %}>Beer Wholesaler</option>
                                <option value="Negociant/Importer" {% if app.user.type == 'Negociant/Importer' %}selected{% endif %}>Negociant/Importer</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="text-center w-100">
                        <button type="submit" class="btn btn-info btn-large">Save personnal details</button>
                    </div>
                </form>
            </div>

            <hr>

            <h2 class="h2-responsive">Edit email adress</h2>

            <div class="container-fluid">
                <form class="row" action="{{ path('beverage_mp_personal_profile') }}" method="post">
                    <div class="col">
                        <div class="md-form">
                            <input type="email" id="email" class="form-control" name="email" value="{{ app.user.email }}" required>
                            <label for="email">Your email</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="md-form">
                            <input type="email" id="emailConfirm" class="form-control" name="emailconfirm" required>
                            <label for="emailConfirm">Confirm your email</label>
                        </div>
                    </div>

                    <div class="text-center w-100">
                        <button type="submit" class="btn btn-info btn-large">Save email adress</button>
                    </div>
                </form>
            </div>

            <hr>

            <h2 class="h2-responsive">My invoices</h2>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoiceCollection %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <th>{{ invoice.date | date }}</th>
                            <th>{{ invoice.lines.data[0].plan.name }}</th>
                            <th>{{ invoice.total/100 | number_format(2,'.',' ') }} {{ invoice.currency | upper }}</th>
                            <th>{% if invoice.paid == true %}<i class="fa fa-check green-text"></i>{% else %}<i class="fa fa-times red-text"></i>{% endif %}</th>
                            <th><a href="{{ path('beverage_mp_download_invoice', {'invoiceId': invoice.id}) }}" target="_blank"><i class="fa fa-file"></i></a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>

            <h2 class="h2-responsive">My business</h2>

            <form class="row" action="{{ path('beverage_mp_business_edit') }}" method="post">
                <div class="col">
                    <div class="md-form">
                        <input type="text" class="form-control disabled" id="name" name="name" value="{{ app.user.business.name }}" required disabled>
                        <label for="name">Company name</label>
                    </div>

                    <div class="md-form">
                        <input type="text" class="form-control" id="commercialName" name="commercialname" value="{{ app.user.business.commercialName }}">
                        <label for="commercialName">Commercial name</label>
                    </div>

                    <div class="md-form">
                        <input type="email" class="form-control disabled" id="email" name="email" value="{{ app.user.business.email }}">
                        <label for="email">Email address</label>
                    </div>

                    <div class="md-form">
                        <input type="tel" class="form-control" id="phone" name="phone" value="{{ app.user.business.phone }}" required>
                        <label for="phone">Phone</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="url" class="form-control" id="website" name="website" value="{{ app.user.business.website }}">
                        <label for="website">Website</label>
                    </div>

                    <div class="md-form">
                        <textarea type="text" class="form-control md-textarea" id="address" name="address">{{ app.user.business.address }}</textarea>
                        <label for="address">Address</label>
                    </div>

                    <div class="md-form">
                        <input type="text" class="form-control" id="city" name="city" value="{{ app.user.business.city }}" required>
                        <label for="city">City</label>
                    </div>

                    <div class="md-form">
                        <input type="text" class="form-control" id="state" name="state" value="{{ app.user.business.state }}" required>
                        <label for="state">State</label>
                    </div>

                    <div class="md-form">
                        <input type="text" class="form-control" id="zip" name="zip" value="{{ app.user.business.zip }}" required>
                        <label for="zip">ZIP</label>
                    </div>

                    <div class="md-form">
                        <input type="text" class="form-control" id="country" name="country" value="{{ app.user.business.country }}" required>
                        <label for="country">Country</label>
                    </div>
                </div>

                {% if app.user.business.primaryContact == app.user %}
                <div class="text-center w-100">
                    <button type="submit" class="btn btn-info">Save company details</button>
                </div>
                {% endif %}
            </form>

            <h5 class="h5-responsive">Company members</h5>

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <th>{{ user.firstName }} {{ user.lastName }}</th>
                        <th>{{ user.email }}</th>
                        <th>{% if 'ROLE_PRODUCER' in user.roles | keys %}Producer{% else %}User{% endif %}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <form class="row" action="{{ path('beverage_mp_generate_invite_link') }}" method="post">
                <div class="col">
                    <div class="md-form">
                        <input type="email" class="form-control" id="email" name="email" required>
                        <label for="email">Invite user by email</label>
                    </div>
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-info">Invite user</button>
                </div>
            </form>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/material-select.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
    </script>
{% endblock %}