{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'default.recover_password.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-bg-img full-height">
        <div class="card animated fadeInDown" style="width: 35rem">
            <form class="card-body align-content-center" action="{{ path('beverage_mp_recover_password_receiver') }}" method="post">

                <!--Header-->
                <div class="form-header info-color">
                    <h3><i class="fa fa-recycle"></i> {{ 'default.recover_password.title' | trans }}</h3>
                </div>

                {% if app.request.get('error') is defined and app.request.get('error') == true
                and app.request.get('type') is defined %}
                    {% set type = app.request.get('type') %}
                    {% if type == 1 %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ 'default.recover_password.error.1' | trans }}</p>
                            </div>
                        </div>
                    {% elseif type == 2 %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ 'default.recover_password.error.2' | trans }}</p>
                            </div>
                        </div>
                    {% elseif type == 3 %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">{{ 'default.recover_password.error.3' | trans }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
                    <div class="card success-color text-center z-depth-2" role="alert">
                        <div class="card-body">
                            <p class="white-text mb-0">{{ 'default.recover_password.success' | trans }}</p>
                        </div>
                    </div>
                {% endif %}

                <p class="text-sm-left">{{ 'default.recover_password.please' | trans }}</p>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <label for="email">{{ 'default.recover_password.email' | trans }}</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-large">{{ 'default.recover_password.send' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}