{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'default.register.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robot" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid full-height full-bg-img">
    <div class="card animated fadeInDown" style="width: 60rem">
        <form class="card-body align-content-center" action="{{ path('beverage_mp_register_receiver') }}" method="post" id="registerForm">

            <!--Header-->
            <div class="form-header info-color">
                <h3><i class="fa fa-pencil"></i> {{ 'default.register.title' | trans }}</h3>
            </div>

            {% if app.request.get('success') is defined and app.request.get('success') == true %}
                <div class="card success-color text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">{{ 'default.register.success' | trans }}</p>
                    </div>
                </div>
            {% elseif app.request.get('error') is defined and app.request.get('error') == true %}
                {% if app.request.get('type') is defined %}
                    {% set type = app.request.get('type') %}
                    {% if type == 1 %}
                        <div class="card danger-color text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">Please check that all required fields are properly filled.</p>
                            </div>
                        </div>
                    {% elseif type == 2 %}
                        <div class="card danger-color text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">This email address is already associated to another existent user.</p>
                            </div>
                        </div>
                    {% elseif type == 3 %}
                        <div class="card danger-color text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">This company already exists in our database. You can join it
                                    by getting invited by one of its members.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            <div class="container">
                {% if invite is not defined %}
                <div class="text-center">
                    <h3 class="h3-responsive">Primary contact</h3>
                </div>
                {% else %}
                    <div class="text-center">
                        <h3 class="h3-responsive">Join {{ invite.business.name }}</h3>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <div class="md-form" aria-invalid="true">
                            <input type="text" id="firstName" name="firstname" class="form-control">
                            <label for="firstName">First name <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="lastName" name="lastname" class="form-control">
                            <label for="lastName">Last name <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="function" name="function" class="form-control">
                            <label for="function">Function</label>
                        </div>

                        <select class="mdb-select w-100" id="type" name="type">
                            <option value="" disabled selected>Choose your account type <span class="red-text">*</span></option>
                            <optgroup label="Producer/Exporter">
                                <option value="Winery">Winery</option>
                                <option value="Distillery">Distillery</option>
                                <option value="Breweries">Breweries</option>
                                <option value="Cidrerie">Cidrerie</option>
                                <option value="Negociant/Exporter">Negociant/Exporter</option>
                                <option value="Agent/Broker">Agent/Broker</option>
                            </optgroup>
                            <optgroup label="Importer/Wholesaler">
                                <option value="Wine Importer">Wine Importer</option>
                                <option value="Spirit Importer">Spirit Importer</option>
                                <option value="Cider Importer">Cider Importer</option>
                                <option value="Beer Importer">Beer Importer</option>
                                <option value="Wine Wholesaler">Wine Wholesaler</option>
                                <option value="Spirit Wholesaler">Spirit Wholesaler</option>
                                <option value="Cider Wholesaler">Cider Wholesaler</option>
                                <option value="Beer Wholesaler">Beer Wholesaler</option>
                                <option value="Negociant/Importer">Negociant/Importer</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="tel" id="phone" name="phone" class="form-control">
                            <label for="phone">Phone</label>
                        </div>

                        <div class="md-form">
                            <input type="email" id="email" name="email" class="form-control {% if invite is defined %}disabled{% endif %}"  {% if invite is defined %}disabled value="{{ invite.email }}"{% endif %}>
                            <label for="email">Email address <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control">
                            <label for="password">Password <span class="red-text">*</span></label>
                        </div>

                        {% if invite is defined %}
                            <input type="hidden" name="invite" value="{{ invite.id }}" hidden disabled>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if invite is not defined %}
            <div class="container">
                <div class="text-center">
                    <h3 class="h3-responsive">Your company</h3>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name">Company name <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="commercialName" name="commercialname" class="form-control">
                            <label for="commercialName">Commercial name</label>
                        </div>

                        <div class="md-form">
                            <input type="tel" id="companyPhone" name="companyphone" class="form-control">
                            <label for="companyPhone">Phone number <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="url" id="website" name="website" class="form-control">
                            <label for="website">Website</label>
                        </div>

                        <div class="md-form">
                            <input type="email" id="companyEmail" name="companyemail" class="form-control">
                            <label for="companyEmail">Email address</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="address" name="address" class="form-control">
                            <label for="address">Address <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="city" name="city" class="form-control">
                            <label for="city">City <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="zip" name="zip" class="form-control">
                            <label for="zip">Zip Code <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="state" name="state" class="form-control">
                            <label for="state">State <span class="red-text">*</span></label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="country-autocomplete" class="form-control mdb-autocomplete" name="country">
                            <button class="mdb-autocomplete-clear">
                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                </svg>
                            </button>
                            <label for="country-autocomplete" class="active">Country <span class="red-text">*</span></label>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg">Register</button>
                <p><span class="red-text">*</span> required fields</p>
            </div>
        </form>

        <!--Footer-->
        <div class="modal-footer">
            <div style="position: absolute; right: 80%">
                <p><a href="{{ path('beverage_mp_homepage') }}"><i class="fa fa-arrow-left"></i></a> {{ 'default.connect.homepage' | trans }}</p>
            </div>
            <div class="options">
                <p>{{ 'default.register.already' | trans({'%begin_link%':'<a href="' ~ path('beverage_mp_connect') ~ '">','%end_link%':'</a>'}) | raw }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/material-select.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.mdb-select').material_select();

            var $registerForm = $('#registerForm');
            var $firstName = $('input#firstName'), $lastName = $('input#lastName'),
                $email = $('input#email'), $password = $('input#password'),
                $companyName = $('input#name'), $phone = $('input#companyPhone'),
                $address = $('input#address'), $city = $('input#city'),
                $state = $('input#state'), $country = $('input#country'),
                $type = $('select#type');

            //catching submission
            $registerForm.submit(function (e) {
                //check fields
                if ($firstName.val() === ''){
                    $firstName.focus();
                    toastr["warning"]("You must tell us your first name.");
                    e.preventDefault();
                    return false;
                }

                if ($lastName.val() === ''){
                    $lastName.focus();
                    toastr["warning"]("You must tell us your last name.");
                    e.preventDefault();
                    return false;
                }

                if ($email.val() === ''){
                    $email.focus();
                    toastr["warning"]("You must tell us your email address.");
                    e.preventDefault();
                    return false;
                }

                if ($password.val() === ''){
                    $password.focus();
                    toastr["warning"]("You must choose a (strong) password.");
                    e.preventDefault();
                    return false;
                }

                if ($companyName.val() === ''){
                    $companyName.focus();
                    toastr["warning"]("You must tell us your company name.");
                    e.preventDefault();
                    return false;
                }

                if ($phone.val() === ''){
                    $phone.focus();
                    toastr["warning"]("You must tell us your company phone number.");
                    e.preventDefault();
                    return false;
                }

                if ($address.val() === ''){
                    $address.focus();
                    toastr["warning"]("You must tell us your company address.");
                    e.preventDefault();
                    return false;
                }

                if ($city.val() === ''){
                    $city.focus();
                    toastr["warning"]("You must tell us your company city.");
                    e.preventDefault();
                    return false;
                }

                if ($state.val() === ''){
                    $state.focus();
                    toastr["warning"]("You must tell us your company state.");
                    e.preventDefault();
                    return false;
                }

                if ($country.val() === ''){
                    $country.focus();
                    toastr["warning"]("You must tell us your company country.");
                    e.preventDefault();
                    return false;
                }

                if ($type.val() === ''){
                    $type.focus();
                    toastr["warning"]("You must tell us your account type.");
                    e.preventDefault();
                    return false;
                }
            });
        });
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        var country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
        $('#country-autocomplete').mdb_autocomplete({
            data: country_list
        });
    </script>
{% endblock %}