{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <!-- Register Style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}"/>
    <!-- Custom Background -->
    <style type="text/css">
        .full-bg-img {
            background: url("{{ asset('img/glasses.jpeg') }}") no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-height full-bg-img">
        <div class="card animated fadeInDown" style="width: 28rem;">
            <form class="card-body align-content-center" action="{{ path('beverage_mp_reset_password_receiver', {'resetId': resetId}) }}" method="post">

                <!--Header-->
                <div class="form-header info-color">
                    <h3><i class="fa fa-recycle"></i> Reset password</h3>
                </div>

                <hr>
                {% if app.request.get('error') is defined and app.request.get('error') == true
                and app.request.get('type') is defined %}
                    {% set type = app.request.get('type') %}
                    {% if type == 1 %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">Please check that all fields are filled properly
                                    before clicking send.</p>
                            </div>
                        </div>
                    {% elseif type == 2 %}
                        <div class="card danger-color text-center z-depth-2" role="alert">
                            <div class="card-body">
                                <p class="white-text mb-0">The password and its confirmation are not matching.</p>
                            </div>
                        </div>
                    {% endif %}
                {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
                    <div class="card success-color text-center z-depth-2" role="alert">
                        <div class="card-body">
                            <p class="white-text mb-0">Your password has been successfully updated. Now you can
                                <a href="{{ path('beverage_mp_connect') }}">connect</a> to your account.</p>
                        </div>
                    </div>
                {% endif %}

                <p class="text-sm-left">Please enter a new password for your account.</p>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <label for="password">Your new password</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input class="form-control" type="password" id="passwordConfirm" name="passwordconfirm" required>
                    <label for="passwordConfirm">Confirm your new password</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-large">Reset password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}