{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Search - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="row">
            <div class="col-md-8">
                <div class="md-form">
                    <input type="text" name="search" id="search" class="form-control">
                    <label for="search">Search for something...</label>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="h3-responsive">Filters</h3>

                <hr>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="checkbox" id="userFilter" checked>
                            <label for="userFilter">Users</label>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="productFilter" checked>
                            <label for="productFilter">Products</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="checkbox" id="tenderFilter" checked>
                            <label for="tenderFilter">Tenders</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        var client = algoliasearch('{{ algolia_app_id }}','{{ algolia_api_key }}');
        var index = client.initIndex('')
    </script>
{% endblock %}