{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'default.settings.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/beer.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="jumbotron">
            <h1 class="h1-responsive">{{ 'default.settings.title' | trans }}</h1>

            <hr>

            {% if app.request.get('success') is defined and app.request.get('success') == true %}
                <div class="card success-color text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">{{ 'default.settings.success' | trans }}</p>
                    </div>
                </div>
            {% endif %}

            <form action="{{ path('beverage_mp_save_settings') }}" method="post">

                <div class="md-form" {% if setting.enable2fa == false %}onclick="window.open('{{ path('beverage_mp_bundle_2fa_config') }}','_self')"{% endif %}>
                    <input type="checkbox" id="2fa" name="2fa" {% if setting.enable2fa == true %}checked{% endif %}>
                    <label for="2fa">{{ 'default.settings.2fa' | trans }}</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-lg info-color">{{ 'default.settings.save' | trans }}</button>
                </div>
            </form>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}