<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}The Beverage Marketplace{% endblock %}</title>

    {% block seo_metatags %}
        {# Redfine this block in every page you extend #}
    {% endblock %}

    {% block css_includes %}
        <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/mdb.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
</head>
<body>
{% block preloader %}
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup">
        </div>
    </div>
{% endblock %}
{% block content %}
    {% block navbar %}
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark special-color fixed-top scrolling-navbar">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ path('beverage_mp_homepage') }}">
                <img src="{{ asset('img/logo.png') }}" class="img-fluid" alt="The Beverage Marketplace" style="height: 30px;">
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_homepage') }}">{{ 'layout.navbar.home' | trans }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="tendersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'layout.navbar.tenders' | trans }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="tendersDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_list_tenders') }}">Browse tenders</a>
                            {% if not is_granted('ROLE_PRODUCER') %}<a class="dropdown-item" href="{{ path('beverage_mp_create_tender') }}">Create tender</a>{% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="marketplaceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'layout.navbar.marketplace' | trans }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="marketplaceDropdown">
                            <a class="dropdown-item" href="{{ path('beverage_mp_list_products') }}">Browse products</a>
                            {% if is_granted('ROLE_PRODUCER') %}<a class="dropdown-item" href="{{ path('beverage_mp_create_product') }}">Create product</a>{% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_bundle_directory') }}">Directory</a>
                    </li>
                    {% if not is_granted('ROLE_FULL_ACCESS_MONTHLY') and not is_granted('ROLE_FULL_ACCESS_YEARLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'plans'}) }}">Plans</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
                    </li>
                </ul>
                <!-- Links -->

                {% if app.user %}
                    <!-- User Actions -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" id="profileMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('uploads/profile/' ~ app.user.profilePic) }}" class="img-fluid rounded-circle z-depth-0">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenuDropdown">
                                <a class="dropdown-item" href="{{ path('beverage_mp_personal_profile') }}">{{ 'layout.navbar.user.profile' | trans }}</a>
                                <a class="dropdown-item" href="{{ path('beverage_mp_profile_tenders') }}">{{ 'layout.navbar.user.tenders' | trans }}</a>
                                <a class="dropdown-item" href="{{ path('beverage_mp_profile_products') }}">{{ 'layout.navbar.user.products' | trans }}</a>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_ADMIN') %}<a class="dropdown-item" href="{{ path('beverage_mp_admin_homepage') }}">{{ 'layout.navbar.user.admin_console' | trans }}</a>{% endif %}
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">{{ 'layout.navbar.user.logout' | trans }}</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <!-- Login or Register Buttons -->
                    <form class="form-inline ml-auto">
                        <a href="{{ path('beverage_mp_connect') }}" class="btn btn-sm align-middle blue-grey" type="button">{{ 'layout.navbar.connect' | trans }}</a>
                        <a href="{{ path('beverage_mp_register') }}" class="btn btn-sm align-middle btn-info" type="button">{{ 'layout.navbar.register' | trans }}</a>
                    </form>
                {% endif %}
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    {% endblock %}

    {% block footer %}
        <!--Footer-->
        <footer class="page-footer center-on-small-only special-color-dark">

            <!--Footer Links-->
            <div class="container-fluid">
                <div class="row">

                    <!--First column-->
                    <div class="col-md-3 offset-md-1">
                        <img src="{{ asset('img/logo.png') }}" class="img-fluid" style="height: 140px;">
                    </div>
                    <!--/.First column-->

                    <hr class="hidden-md-up">

                    <!--Second column-->
                    <div class="col-md-2 offset-md-1">
                        <h5 class="title">{{ 'layout.footer.about.title' | trans }}</h5>
                        <ul>
                            <li><a href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'about'}) }}">{{ 'layout.footer.about.about' | trans }}</a></li>
                            <li><a href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'partners'}) }}">{{ 'layout.footer.about.partners' | trans }}</a></li>
                            <li><a href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'legals'}) }}">{{ 'layout.footer.about.legals' | trans }}</a></li>
                            <li><a href="{{ path('beverage_mp_static_slug', {'format': 'html', 'slug': 'terms'}) }}">{{ 'layout.footer.about.terms' | trans }}</a></li>
                        </ul>
                    </div>
                    <!--/.Second column-->

                    <hr class="hidden-md-up">
                </div>
            </div>
            <!--/.Footer Links-->

            <hr>

            {% if not is_granted('ROLE_USER') %}
                <!--Call to action-->
                <div class="call-to-action">
                    <ul>
                        <li>
                            <h5>{{ 'layout.footer.register' | trans }}</h5>
                        </li>
                        <li><a href="{{ path('beverage_mp_register') }}" class="btn btn-info">{{ 'layout.footer.sign_up' | trans }}</a></li>
                    </ul>
                </div>
                <!--/.Call to action-->

                <hr>
            {% endif %}

            <!--Social buttons-->
            <div class="text-center mb-3">

                <a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
                <a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
                <a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
                <a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
                <a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a>
                <a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a>
                <a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a>

            </div>
            <!--/.Social buttons-->

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © {{ 'now' | date('Y') }} Copyright: The Beverage Marketplace

                </div>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->
    {% endblock %}

    {% block global_modals %}
        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">{{ 'layout.global_modals.logout.title' | trans }}</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'layout.global_modals.logout.close' | trans }}">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fa fa-sign-out fa-4x mb-3 animated rotateIn"></i>
                            <p>{{ 'layout.global_modals.logout.about' | trans }}</p>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a href="{{ path('beverage_mp_logout') }}" class="btn btn-primary-modal">{{ 'layout.global_modals.logout.yes' | trans }} <i class="fa fa-sign-out ml-1"></i></a>
                        <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">{{ 'layout.global_modals.logout.no' | trans }}</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Logout Modal -->

        <!-- Cookies Modal -->
        <div class="modal fade bottom" id="cookieModal" tabindex="-1" role="alertdialog" aria-labelledby="cookieModal" aria-hidden="true">
            <div class="modal-dialog modal-frame modal-bottom" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center align-items-center">
                            <p class="pt-3 pr-2">{{ 'layout.global_modals.cookies.our' | trans }}</p>

                            <a href="https://www.google.com" type="button" class="btn btn-danger waves-effect waves-light">{{ 'layout.global_modals.cookies.refuse' | trans }}</a>
                            <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal" id="acceptCookies">{{ 'layout.global_modals.cookies.accept' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cookies Modal -->

        <!-- Contact Modal -->
        <div class="modal fade right" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                <form class="modal-content" action="{{ path('beverage_mp_contact_receiver') }}" method="post">
                    <div class="modal-header">
                        <p class="heading lead">Contact us</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="md-form">
                            <div class="md-form">
                                <input type="text" id="form-contact-name" class="form-control" name="name" {% if app.user %}value="{{ app.user.firstName }} {{ app.user.lastName }}"{% endif %} required>
                                <label for="form-contact-name" class="">{{ 'static.contact.name' | trans }}</label>
                            </div>
                        </div>

                        <div class="md-form">
                            <div class="md-form">
                                <input type="email" id="form-contact-email" class="form-control" name="email" {% if app.user %}value="{{ app.user.email }}"{% endif %} required>
                                <label for="form-contact-email" class="">{{ 'static.contact.email' | trans }}</label>
                            </div>
                        </div>

                        <div class="md-form">
                            <div class="md-form">
                                <input type="tel" id="form-contact-phone" class="form-control" name="phone" {% if app.user %}value="{{ app.user.phone }}"{% endif %} required>
                                <label for="form-contact-phone" class="">{{ 'static.contact.phone' | trans }}</label>
                            </div>
                        </div>

                        <div class="md-form">
                            <div class="md-form">
                                <input type="text" id="form-contact-company" class="form-control" name="company" {% if app.user %}value="{{ app.user.business.name }}"{% endif %}>
                                <label for="form-contact-company" class="">{{ 'static.contact.company' | trans }}</label>
                            </div>
                        </div>

                        <div class="md-form">
                            <textarea type="text" id="form-contact-message" class="md-textarea" name="message" required></textarea>
                            <label for="form-contact-message">{{ 'static.contact.message' | trans }}</label>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Contact Modal -->
    {% endblock %}
{% endblock %}

{% block js_includes %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mdb.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global-modals.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/js-cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/accept-cookies.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ google_analytics_code }}', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
</body>
</html>