{% if pageCount > 1 %}
    <nav class="my-4">
        <ul class="pagination pagination-circle pg-blue mb-0">
            {% if first is defined and current != first %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}" aria-label="First">
                        <span aria-hidden="true"><i class="fa fa-step-backward"></i></span>
                        <span class="sr-only">{{ 'pagination.first' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
                        <span class="sr-only">{{ 'pagination.previous' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }} <span class="sr-only">{{ 'pagination.current' | trans }}</span></a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
                        <span class="sr-only">{{ 'pagination.next' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}" aria-label="Last<">
                        <span aria-hidden="true"><i class="fa fa-step-forward"></i></span>
                        <span class="sr-only">{{ 'pagination.last' | trans }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}