@charset "UTF-8";
/*
 * Copyright (c) 2016 - 1Day Online & LP Systems
 */

html,
body {
    height: 100%;
}

/*********************
  NAVIGATION
**********************/
.navbar {
    background-color: transparent !important;
}

.top-nav-collapse {
    background-color: #1C2331 !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331 !important;
    }
}

/*********************
  MAIN IMAGE
**********************/
.full-bg-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 140px;
    overflow: auto !important;
    text-align: -webkit-center;
}

.card {
    text-align: initial;
}

footer.page-footer {
    margin-top: -20px;
}

/*********************
  PROFILE IMAGE
*********************/
img.profile-preview {
    width: 0;
    height: 0;
    border-radius: 50px;
}


/*********************
  TEMPLATE COLORS
**********************/
.pt-color {
    background-color: #1C2331 !important;
}

.st-color {
    background-color: #4D5668 !important;
}

.et-color {
    background-color: #3F729B !important;
}

.btn-ptc {
    background-color: #1C2331 !important;
}

.btn-ptc:hover {
    background-color: #2f3a51 !important;
}

.btn-ptc:focus {
    background-color: #2f3a51 !important;
}

.btn-stc {
    background-color: #4D5668 !important;
}

.btn-stc:hover {
    background-color: #636e85 !important;
}

.btn-stc:focus {
    background-color: #636e85 !important;
}

.btn-etc {
    background-color: #3F729B !important;
}

.btn-etc:hover {
    background-color: #548cb9 !important;
}

.btn-etc:focus {
    background-color: #548cb9 !important;
}

.fb-bg {
    background-color: #3B5998;
}

.tw-bg {
    background-color: #55ACEE;
}

.gplus-bg {
    background-color: #DD4B39;
}

/*********************
  FOOTER
**********************/
footer.page-footer {
    margin-top: 0;
    background-color: #1C2331;
}

.monoline-form {
    display: inline-flex;
    width: 100%;
}
.monoline-item {
    width: inherit;
}