{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        <h1 class="h1-responsive">Create a call for tenders</h1>

        <hr>

        {% if app.request.get('error') is defined and app.request.get('error') == true %}
            {% if app.request.get('type') is defined %}
                {% set type = app.request.get('type') %}
                {% if type == 1 %}
                    <div class="card danger-color lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">Please check that all fields are filled before creating the
                                call for tenders.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Your tender has been successfully created.</p>
                </div>
            </div>
        {% endif %}

        <form action="{{ path('beverage_mp_admin_add_tender_receiver') }}" method="post">
            <div class="md-form">
                <input type="text" class="form-control" id="title" name="title" required>
                <label for="title">Title</label>
            </div>

            <div class="md-form">
                <textarea type="text" class="form-control md-textarea" id="description" name="description" required></textarea>
                <label for="description">Description</label>
            </div>

            <div class="row">
                <div class="col-md-3 vertical">
                    <input type="checkbox" class="form-control" id="enableTinyDesc">
                    <label for="enableTinyDesc">Edit the short description</label>
                </div>

                <div class="col-md-9" id="tinyDescInput" style="display: none">
                    <input type="text" class="form-control" id="tinyDesc" name="tinydesc" length="140">
                    <label for="tinyDesc">Short description</label>
                </div>
            </div>

            <div class="md-form">
                <input type="number" class="form-control" id="quantity" name="quantity" required>
                <label for="quantity">Quantity</label>
            </div>

            <div class="row">
                <div class="col">
                    <div class="md-form">
                        <input type="number" class="form-control" id="priceMin" name="pricemin" required>
                        <label for="priceMin">Minimum price</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="number" class="form-control" id="priceMax" name="pricemax" required>
                        <label for="priceMax">Maximum price</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="currency-autocomplete" class="form-control mdb-autocomplete" name="currency" required>
                        <button class="mdb-autocomplete-clear">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                        </button>
                        <label for="form-autocomplete" class="active">Currency</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="location-autocomplete" class="form-control mdb-autocomplete" name="location" required>
                        <button class="mdb-autocomplete-clear">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                        </button>
                        <label for="location-autocomplete" class="active">Location (country)</label>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg">Create call for tenders</button>
            </div>
        </form>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        var currencies = [
            'USD ($)',
            'EUR (€)'
        ];
        var country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
        $('#currency-autocomplete').mdb_autocomplete({
            data: currencies
        });
        $('#location-autocomplete').mdb_autocomplete({
            data: country_list
        });

        $(function () {
            var $enableTinyDescCheck = $('input#enableTinyDesc'),
                $tinyDesc = $('#tinyDescInput');

            $enableTinyDescCheck.click(function () {
                $tinyDesc.fadeToggle();
            });
        });
    </script>
{% endblock %}