{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('error') is defined and app.request.get('error') == true %}
            {% if app.request.get('type') is defined %}
                {% set type = app.request.get('type') %}
                {% if type == 1 %}
                    <div class="card red lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">Please check that all required fields are properly filled.</p>
                        </div>
                    </div>
                {% elseif type == 2 %}
                    <div class="card red lighten-1 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">This user or this business already exists.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">The user has been successfully added.</p>
                </div>
            </div>
        {% endif %}

        <h1 class="h1-responsive">Add user</h1>

        <p>This form adds a validated user, without sending an email.</p>

        <hr>

        <form action="{{ path('beverage_mp_admin_add_user_receiver') }}" method="post">
            <h3 class="h3-responsive">User</h3>

            <div class="md-form">
                <input type="text" class="form-control" id="firstName" name="firstname" required>
                <label for="firstName">First name <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="lastName" name="lastname" required>
                <label for="lastName">Last name <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="function" name="function">
                <label for="function">Function</label>
            </div>

            <div class="md-form">
                <input type="tel" class="form-control" id="phone" name="phone">
                <label for="phone">Phone</label>
            </div>

            <div class="md-form">
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="email">Email <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="password" class="form-control" id="password" name="password" required>
                <label for="password">Password <span class="red-text">*</span></label>
            </div>

            <select class="mdb-select" id="type" name="type">
                <option value="" disabled selected>Choose your account type <span class="red-text">*</span></option>
                <optgroup label="Producer/Exporter">
                    <option value="Winery">Winery</option>
                    <option value="Distillery">Distillery</option>
                    <option value="Breweries">Breweries</option>
                    <option value="Cidrerie">Cidrerie</option>
                    <option value="Negociant/Exporter">Negociant/Exporter</option>
                    <option value="Agent/Broker">Agent/Broker</option>
                </optgroup>
                <optgroup label="Importer/Wholesaler">
                    <option value="Wine Importer">Wine Importer</option>
                    <option value="Spirit Importer">Spirit Importer</option>
                    <option value="Cider Importer">Cider Importer</option>
                    <option value="Beer Importer">Beer Importer</option>
                    <option value="Wine Wholesaler">Wine Wholesaler</option>
                    <option value="Spirit Wholesaler">Spirit Wholesaler</option>
                    <option value="Cider Wholesaler">Cider Wholesaler</option>
                    <option value="Beer Wholesaler">Beer Wholesaler</option>
                    <option value="Negociant/Importer">Negociant/Importer</option>
                </optgroup>
            </select>

            <h3 class="h3-responsive">Company</h3>

            <select class="mdb-select" name="company">
                <option value="" disabled selected>Add to a company</option>
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>

            <div class="text-center">
                <h4>or</h4>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="name" name="name">
                <label for="name">Company name <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="commercialName" name="commercialname">
                <label for="commercialName">Commercial name</label>
            </div>

            <div class="md-form">
                <input type="tel" class="form-control" id="companyPhone" name="companyphone">
                <label for="companyPhone">Phone number <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="url" class="form-control" id="website" name="website">
                <label for="website">Website</label>
            </div>

            <div class="md-form">
                <input type="email" class="form-control" id="companyEmail" name="companyemail">
                <label for="companyEmail">Email address</label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="address" name="address">
                <label for="address">Address <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="city" name="city">
                <label for="city">City <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="state" name="state">
                <label for="state">State <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="zip" name="zip">
                <label for="zip">Zip <span class="red-text">*</span></label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="country" name="country">
                <label for="country">Country <span class="red-text">*</span></label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Add user</button>
            </div>
        </form>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('.mdb-select').material_select();
        });
    </script>
{% endblock %}