{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        <h1 class="h1-responsive">Edit news</h1>

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Your operation has been successfully executed.</p>
                </div>
            </div>
        {% elseif app.request.get('error') is defined and app.request.get('error') == true %}
            <div class="card danger-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">An error occurred please retry.</p>
                </div>
            </div>
        {% endif %}

        <form action="" method="post" enctype="multipart/form-data">
            <div class="md-form">
                <input type="text" class="form-control" id="title" name="title" value="{{ news.title }}" required>
                <label for="title">Title</label>
            </div>

            <div class="md-form">
                <textarea type="text" class="form-control md-textarea" id="content" name="content" required>{{ news.content }}</textarea>
                <label for="content">Content</label>
            </div>

            <div class="file-field">
                <div class="btn btn-primary">
                    <span>Choose file</span>
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" >
                    <input type="file" name="image" accept="image/png, image/jpeg, image/gif" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload yout news image">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Publish</button>
            </div>
        </form>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}