{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="h3-responsive">Statistics</h3>
                    <hr>
                    <p>Total users: {{ userCount }}</p>
                    <p>Total products: {{ productCount }}</p>
                    <p>Total tenders: {{ tenderCount }}</p>
                </div>

                <div class="jumbotron">
                    <h3 class="h3-responsive">Homepage bloc</h3>
                    <hr>
                    <p>Edit the homepage bloc content with a basic HTML code (eg. Google AdSense code) or a raw
                    text.</p>

                    <form action="{{ path('beverage_mp_admin_edit_config', {'parameterName': 'homepageBlocCode'}) }}" method="post">
                        <div class="md-form">
                            <textarea type="text" id="homepageBlocCode" name="homepageBlocCode_value" class="form-control md-textarea" required>{{ homepageBlocCode.value }}</textarea>
                            <label for="homepageBlocCode">Raw text or simple HTML code</label>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}