{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">The operation has been successfully executed.</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% for product in pagination %}
                <div class="col-3">
                    <!--Card Regular-->
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{ asset('uploads/product/' ~ product.picture) }}" class="img-fluid profile" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>{{ product.title }}</strong></h4>
                            <h5>{{ product.variety | capitalize }}</h5>

                            <p class="card-text">{{ product.origin }}</p>

                            <!-- Info -->
                            <a type="button" href="{{ path('beverage_mp_view_product', {'productId': product.id}) }}" target="_blank" class="btn-floating btn-small default-color" data-toggle="tooltip" data-placement="top" title="View info"><i class="fa fa-info"></i></a>

                            <!-- Delete -->
                            <a type="button" href="{{ path('beverage_mp_admin_delete_product',{'productId': product.id}) }}" class="btn-floating btn-small danger-color" data-toggle="tooltip" data-placement="top" title="Delete product"><i class="fa fa-times"></i></a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card Regular-->
                </div>
            {% endfor %}
        </div>

        <nav class="align-content-center">
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}