{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">The operation has been successfully executed.</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% for user in pagination %}
                {% if user != app.user %}
                    <div class="col-3">
                        <!--Card Regular-->
                        <div class="card card-cascade">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{ asset('uploads/profile/' ~ user.profilePic) }}" class="img-fluid profile" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Title-->
                                <h4 class="card-title"><strong>{{ user.firstName }} {{ user.lastName }} {% if user.role == 'ROLE_ADMIN' or user.role == 'ROLE_SUPER_ADMIN' %}<i class="fa fa-star yellow-text"></i>{% endif %}</strong></h4>
                                <h5>{{ user.business.name | capitalize }}</h5>

                                <p class="card-text"><i class="fa fa-envelope"></i> {{ user.email }}</p>
                                <p class="card-text"><i class="fa fa-phone"></i> {{ user.phone }}</p>

                                <!-- Info -->
                                <a type="button" href="{{ path('beverage_mp_admin_user_info', {'userId': user.id}) }}" class="btn-floating btn-small default-color" data-toggle="tooltip" data-placement="top" title="View info"><i class="fa fa-info"></i></a>

                                <!-- Lock -->
                                {% if user.isNonLocked == true %}
                                    <a type="button" href="{{ path('beverage_mp_admin_lock_user', {'userId': user.id}) }}" class="btn-floating btn-small warning-color" data-toggle="tooltip" data-placement="top" title="Lock user"><i class="fa fa-lock"></i></a>
                                {% else %}
                                    <a type="button" href="{{ path('beverage_mp_admin_unlock_user',{'userId': user.id}) }}" class="btn-floating btn-small warning-color" data-toggle="tooltip" data-placement="top" title="Unlock user"><i class="fa fa-unlock"></i></a>
                                {% endif %}

                                <!-- Delete -->
                                <a type="button" class="btn-floating btn-small danger-color" data-target="#modal-delete-{{ user.id }}" data-toggle="modal" data-placement="top" title="Delete user"><i class="fa fa-times"></i></a>

                                <!-- Make Admin -->
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a type="button" class="btn-floating btn-small info-color" data-toggle="tooltip" data-placement="top" title="Grant admin role"><i class="fa fa-star"></i></a>
                                {% endif %}

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card Regular-->
                    </div>

                    <!-- Delete User Modal -->
                    <div class="modal fade" id="modal-delete-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notify modal-danger" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                    <p class="heading lead">Delete {{ user.firstName }} {{ user.lastName }}?</p>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                </div>

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fa fa-times fa-4x mb-3 animated rotateIn"></i>
                                        <p>Are you sure you want to delete <strong>{{ user.firstName }} {{ user.lastName }}</strong> account?
                                            All tenders, products and infos of this user will also be deleted.</p>
                                    </div>
                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <a type="button" href="{{ path('beverage_mp_admin_delete_user',{'userId': user.id}) }}" class="btn btn-primary-modal">Yes, delete it <i class="fa fa-trash ml-1"></i></a>
                                    <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No, keep it</a>
                                </div>
                            </div>
                            <!--/.Content-->
                        </div>
                    </div>
                    <!-- Central Modal Medium Danger-->
                {% endif %}
            {% endfor %}
        </div>

        <nav class="align-content-center">
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}