{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% for tender in pagination %}
            <div class="card card-body hit">
                <h4 class="card-title">{{ tender.title }}</h4>
                <p class="card-text">{{tender.priceMin}} - {{tender.priceMax}} {{tender.currency}}</p>
                <p class="card-text">Quantity: {{tender.quantity}}</p>
                <div class="flex-row">
                    <a href="{{ path('beverage_mp_view_tender', {'tenderId': tender.id}) }}" target="_blank" class="card-link">View</a>
                    <a href="{{ path('beverage_mp_admin_delete_tender', {'tenderId': tender.id}) }}" class="card-link">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div class="text-align-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}