{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style type="text/css">
        .profile {
            width: 290px;
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Your operation has been successfully executed.</p>
                </div>
            </div>
        {% endif %}

        <section class="section extra-margins pb-3 text-center text-lg-left">
            {% for new in pagination %}
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay hm-white-slight z-depth-1-half">
                            <img src="{{ asset('uploads/news/' ~ new.picture) }}" class="img-fluid" alt="{{ new.title }}">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 ml-xl-4 mb-4">
                        <h4 class="mb-3"><strong>{{ new.title }}</strong></h4>
                        <p>{{ new.content | raw }}</p>
                        <p>{{ new.date | date }}</p>

                        <div class="text-right">
                            <a type="button" class="btn btn-info" href="{{ path('beverage_mp_admin_edit_news', {'newsId': new.id}) }}">Edit</a>
                            <a type="button" class="btn btn-danger" href="{{ path('beverage_mp_admin_delete_news', {'newsId': new.id}) }}">Delete</a>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr class="mb-5">
            {% endfor %}

            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </section>
    </div>
    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}