{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <form class="jumbotron" action="{{ path('beverage_mp_admin_publish_news_receiver') }}" method="post" enctype="multipart/form-data">

            <h3 class="h3-responsive">Publish a news</h3>

            <hr>

            {% if app.request.get('error') is defined and app.request.get('error') == true %}
                {% if app.request.get('type') is defined %}
                    {% set type = app.request.get('type') %}
                    {% if type == 1 or type == 2 %}
                        <div class="card red lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The uploaded file size is exceeding 3MB. Try with a smaller file.</p>
                            </div>
                        </div>
                    {% elseif type == 3 %}
                        <div class="card red lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The file has only been partially uploaded. Please retry.</p>
                            </div>
                        </div>
                    {% elseif type == 4 %}
                        <div class="card red lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">Please check that all fields has been successfully filled before
                                    sending.</p>
                            </div>
                        </div>
                    {% elseif type == 5 %}
                        <div class="card red lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The uploaded file is invalid.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
                <div class="card success-color text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">Your news has been successfully published.</p>
                    </div>
                </div>
            {% endif %}

            <div class="md-form">
                <input type="text" class="form-control" id="title" name="title" required>
                <label for="title">Title</label>
            </div>

            <div class="md-form">
                <textarea type="text" class="form-control md-textarea" id="content" name="content" required></textarea>
                <label for="content">Content (basic HTML allowed)</label>
            </div>

            <div class="file-field">
                <div class="btn btn-primary">
                    <span>Choose file</span>
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" >
                    <input type="file" name="image" accept="image/png, image/jpeg, image/gif" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload yout news image">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Publish</button>
            </div>
        </form>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}