{% extends '@BeverageMPAdmin/layout.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }} - {{ parent() }}{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">The operation has been successfully executed.</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-8 ">
                <div class="jumbotron">
                    <h2 class="h2-responsive">User info</h2>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p>First name: {{ user.firstName }}</p>
                            <p>Last name: {{ user.lastName }}</p>
                            <p>Type: {{ user.type }}</p>
                        </div>
                        <div class="col text-center">
                            <img src="{{ asset('uploads/profile/' ~ user.profilePic) }}" class="img-fluid img-thumbnail" style="height: 200px !important;">
                        </div>
                    </div>
                </div>

                <div class="jumbotron">
                    <h2 class="h2-responsive">Business info</h2>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p>Name: {{ user.business.name }}</p>
                            <p>Phone: {{ user.business.phone }}</p>
                            <p>Email: {{ user.business.email }}</p>
                            <p>Website: {{ user.business.website }}</p>
                        </div>
                        <div class="col">
                            <p>Address: {{ user.business.address }}</p>
                            <p>City: {{ user.business.city }}</p>
                            <p>State: {{ user.business.state }}</p>
                            <p>ZIP: {{ user.business.zip }}</p>
                            <p>Country: {{ user.business.country }}</p>
                        </div>
                    </div>
                </div>

                <div class="jumbotron">
                    <h2 class="h2-responsive">Contact info</h2>

                    <hr>

                    <p>Email: {{ user.email }}</p>
                    <p>Phone: {{ user.phone }}</p>
                    {% if user.fax is defined %}
                        <p>Fax: {{ user.fax }}</p>
                    {% endif %}
                </div>

                <div class="jumbotron">
                    <h2 class="h2-responsive">Internal info</h2>

                    <hr>

                    <p>Registered on: {{ user.registration | date }}</p>
                    {% if user.lastConnect %}
                        <p>Last connection: {{ user.lastConnect | date }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 jumbotron">
                <h2 class="h2-responsive">Actions</h2>

                <hr>

                <p>Resend validation email</p>
                <div class="text-center">
                    <a type="button" href="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom">Resend validation <i class="fa fa-mail-forward"></i></a>
                </div>

                <hr>

                <p>Reset profile picture</p>
                <div class="text-center">
                    <a type="button" href="{{ path('beverage_mp_admin_reset_profile_picture_user', {'userId': user.id}) }}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Deletes the profile picture and set it to the default one">Reset <i class="fa fa-repeat"></i></a>
                </div>

                <hr>

                <p>Lock account</p>
                <div class="switch text-center">
                        <label>
                            Unlocked
                            <input type="checkbox" {% if user.isNonLocked == false %}checked{% endif %} onchange="window.open('{% if user.nonLocked == true %}{{ path('beverage_mp_admin_lock_user',{'userId': user.id}) }}{% else %}{{ path('beverage_mp_admin_unlock_user',{'userId': user.id}) }}{% endif %}','_self')">
                            <span class="lever"></span>
                            Locked
                        </label>
                </div>

                <hr>

                <p>Delete account</p>
                <div class="text-center">
                    <a type="button" href="{{ path('beverage_mp_admin_delete_user', {'userId': user.id}) }}" class="btn btn-danger">Delete <i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}