{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Create product - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/brandy.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="jumbotron">
            <h1 class="h1-responsive">Create a product</h1>

            <hr>

            {% if app.request.get('error') is defined and app.request.get('error') == true %}
                {% if app.request.get('type') is defined %}
                    {% set type = app.request.get('type') %}
                    {% if type == 1 or type == 2%}
                        <div class="card danger-color lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The uploaded file size is exceeding 3MB. Try with a smaller file.</p>
                            </div>
                        </div>
                    {% elseif type == 3 %}
                        <div class="card danger-color lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The file has only been partially uploaded. Please retry.</p>
                            </div>
                        </div>
                    {% elseif type == 4 %}
                        <div class="card danger-color lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The uploaded file format is invalid. Valid formats are: GIF, PNG and JPEG.</p>
                            </div>
                        </div>
                    {% elseif type == 5 %}
                        <div class="card danger-color lighten-1 text-center z-depth-2">
                            <div class="card-body">
                                <p class="white-text mb-0">The uploaded file is invalid.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% elseif app.request.get('success') is defined and app.request.get('success') == true %}
                <div class="card success-color text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0">Product successfully created.</p>
                    </div>
                </div>
            {% endif %}

            <form action="{{ path('beverage_mp_create_product_receiver') }}" method="post" enctype="multipart/form-data">
                <div class="md-form">
                    <input type="text" class="form-control" id="title" name="title" required>
                    <label for="title">Title</label>
                </div>

                <div class="md-form">
                    <textarea type="text" class="form-control md-textarea" id="description" name="description" required></textarea>
                    <label for="description">Description</label>
                </div>

                <div class="md-form">
                    <input type="text" class="form-control" id="variety" name="variety" required>
                    <label for="variety">Variety</label>
                </div>

                <div class="md-form">
                    <input type="text" class="form-control" id="origin" name="origin" required>
                    <label for="origin">Origin</label>
                </div>

                <div class="md-form">
                    <input type="text" class="form-control" id="format" name="format" required>
                    <label for="format">Format</label>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <input type="number" step="0.1" class="form-control" id="bac" name="bac" required>
                            <label for="bac">Alcohol level</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                            <label for="price">Price</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="currency-autocomplete" class="form-control mdb-autocomplete" name="currency" required>
                            <button class="mdb-autocomplete-clear">
                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                </svg>
                            </button>
                            <label for="currency-autocomplete" class="active">Currency</label>
                        </div>
                    </div>
                </div>

                <div class="file-field">
                    <div class="btn btn-primary btn-sm">
                        <span>Choose a picture file</span>
                        <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
                        <input type="file" name="picture">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-lg">Create product</button>
                </div>
            </form>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        var currencies = [
            'USD ($)',
            'EUR (€)'
        ];
        $('#currency-autocomplete').mdb_autocomplete({
            data: currencies
        });
    </script>
{% endblock %}