{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Products - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/brandy.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
        <style>
            .col-6 {
                margin-bottom: 10px;
            }
        </style>
    {% endblock %}

    <div class="container-fluid main">

        <div class="row">
            <div class="col-md-10">
                <div class="jumbotron">

                    <div class="row">
                        <div class="col">
                            <div id="stats"></div>
                        </div>
                        <div class="col">
                            <div id="sort"></div>
                        </div>
                    </div>

                    <div id="hits"></div>

                    <div class="text-center w-100">
                        <div id="pagination"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-2 jumbotron" style="max-height: 1015px;">
                <input type="search" id="search-input" placeholder="Search for products"/>

                <hr>

                <h3 class="h3-responsive">Price</h3>

                <div id="price"></div>

                <hr>

                <h3 class="h3-responsive">Alcohol level</h3>

                <div id="bac"></div>

                <hr>

                <h3 class="h3-responsive">Filters</h3>

                <div class="row">
                    <div class="col">
                        <p>Origin</p>
                        <div id="filters-origin"></div>
                    </div>
                    <div class="col">
                        <p>Variety</p>
                        <div id="filters-variety"></div>
                    </div>
                    <div class="col">
                        <p>Format</p>
                        <div id="filters-format"></div>
                    </div>
                    <div class="col">
                        <p>Currency</p>
                        <div id="filters-currency"></div>
                    </div>
                </div>

                <div class="text-center">
                    <p>Powered by
                        <a href="https://www.algolia.com/" target="_blank">
                            <img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" alt="Algolia" class="img-fluid" width="25%">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    {% verbatim %}
    <script type="text/html" id="hit-template">
    <div class="card card-cascade narrower">
    <!--Card image-->
    <div class="view overlay hm-white-slight" style="text-align: -webkit-center">
        <img src="/uploads/product/{{picture}}" class="img-fluid" alt="{{title}}" style="display:block;margin-left: auto;margin-right: auto;max-height: 250px;">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{{_highlightResult.title.value}}}</h4>
        <!--Text-->
        <p class="card-text">{{{_highlightResult.tinyDesc.value}}}</p>
        <div class="text-center">
        <p class="card-text">{{price}} {{currency}}</p>
        <a onclick="viewAction('{{productID}}')" class="btn btn-info">View</a>
        </div>
    </div>
    </div>
    </div>
    </script>
    <script type="text/html" id="refinement-list-origin">
        <div class="form-group">
            <input type="checkbox" id="{{name}}" aria-checked="{{isRefined}}" checked="{{isRefined}}">
            <label for="{{name}}">{{name}} : {{count}}</label>
        </div>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var client = algoliasearch('{{ algolia_app_id }}','{{ algolia_api_key }}');
        var index = client.initIndex('staging_Product_{{ app.environment }}');
        var viewUrl = '{{ path('beverage_mp_view_product',{'productId':'ID'}) }}';

        var search = instantsearch({
            appId: '{{ algolia_app_id }}',
            apiKey: '{{ algolia_api_key }}',
            indexName: 'staging_Product_{{ app.environment }}',
            urlSync: true
        });
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#search-input'
            })
        );
        {% verbatim %}
        search.addWidget(
            instantsearch.widgets.hits({
                container: "#hits",
                hitsPerPage: 20,
                templates: {
                    item: document.getElementById('hit-template').innerHTML,
                    empty: "We didn't find any results for the search <em>\"{{query}}\"</em>"
                },
                cssClasses: {
                    root: 'row',
                    item: 'col-3'
                }
            })
        );
        {% endverbatim %}
        // pagination widget
        search.addWidget(
            instantsearch.widgets.pagination({
                container: '#pagination'
            })
        );
        //stats
        search.addWidget(
            instantsearch.widgets.stats({
                container: '#stats'
            })
        );
        //price widget
        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#price',
                attributeName: 'price',
                tooltips: {
                    format: function (rawValue) {
                        return Math.round(rawValue).toLocaleString();
                    }
                }
            })
        );
        //bac widget
        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#bac',
                attributeName: 'alc',
                tooltips: {
                    format: function (rawValue) {
                        return Math.round(rawValue).toLocaleString();
                    }
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-origin',
                attributeName: 'origin',
                sortBy: ['isRefined','price:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-origin').innerHTML
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-variety',
                attributeName: 'variety',
                sortBy: ['isRefined','price:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-origin').innerHTML
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-format',
                attributeName: 'format',
                sortBy: ['isRefined','price:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-origin').innerHTML
                }
            })
        );
        // refinement list
        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#filters-currency',
                attributeName: 'currency',
                sortBy: ['isRefined','price:asc','name:asc'],
                operator: 'or',
                templates: {
                    item: document.getElementById('refinement-list-origin').innerHTML
                }
            })
        );
        search.start();

        function viewAction(objectId) {
            var temp = viewUrl.slice(0,-2) + objectId;
            window.open(temp,'_self');
        }
    </script>
{% endblock %}