{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}My products - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/beer.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">

        {% if app.request.get('success') is defined and app.request.get('success') == true %}
            <div class="card success-color lighten-1 text-center z-depth-2">
                <div class="card-body">
                    <p class="white-text mb-0">Operations successfully executed.</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
        {% for product in pagination %}
            <div class="col-3">
                <!--Card Regular-->
                <div class="card card-cascade">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="{{ asset('uploads/product/' ~ product.picture) }}" class="img-fluid" alt="{{ product.title }}">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>{{ product.title }}</strong></h4>
                        <h5>{{ product.variety }}</h5>

                        <p class="card-text">{{ product.tinyDesc }}</p>

                        <!--Facebook-->
                        <a type="button" href="{{ path('beverage_mp_view_product', {'productId': product.id}) }}" target="_blank" class="btn-floating btn-small info-color" data-toggle="tooltip" data-placement="top" title="View product"><i class="fa fa-eye"></i></a>
                        <!--Google +-->
                        <a type="button" href="{{ path('beverage_mp_delete_product', {'productId': product.id }) }}" class="btn-floating btn-small danger-color" data-toggle="tooltip" data-placement="top" title="Delete product"><i class="fa fa-trash"></i></a>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card Regular-->
            </div>
        {% else %}
            <p>You currently published no products.</p>
        {% endfor %}
        </div>

        <div class="text-align-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}