{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ product.title }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/brandy.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container main">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="h3">{{ product.title }}</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="col text-center">
                            <img src="{{ asset('uploads/product/' ~ product.picture) }}" class="img-fluid" alt="{{ product.title }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 jumbotron">
                <h3 class="h3-responsive">Author</h3>
                <hr>
                <p><a href="{{ path('beverage_mp_view_business', {'businessId': product.user.business.id }) }}">{{ product.user.business.name }}</a></p>
                <div class="text-center">
                    <a type="button" class="btn btn-info btn-sm" href="{{ path('beverage_mp_view_business', {'businessId': product.user.business.id}) }}">Contacter</a>
                </div>
                <h3 class="h3-responsive">Information</h3>
                <hr>
                <p>Origin: {{ product.origin }}</p>
                <p>Variety: {{ product.variety }}</p>
                <p>Price: {{ product.price }}{{ product.currency }}</p>
                <p>Format: {{ product.format }}</p>
            </div>
        </div>
    </div>

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
{% endblock %}