{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'static.about.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">{{ 'static.about.title' | trans }}</h1>

            <hr>

            <p>{{ 'static.about.lines.1' | trans }}</p>

            <p>{{ 'static.about.lines.2' | trans | raw }}</p>

            <p>{{ 'static.about.lines.3' | trans }}</p>

            <p>{{ 'static.about.lines.4' | trans }}</p>

            {% if not is_granted('ROLE_USER') %}
                <div class="text-center">
                    <a type="button" class="btn btn-lg btn-info" href="{{ path('beverage_mp_register') }}">{{ 'static.about.start' | trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}