{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Partners - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <section class="section team-section pb-5 jumbotron">
            <h2 class="section-heading h1 pt-4">Our partners</h2>

            <div class="row text-center">
                <div class="col mb-r">
                    <div class="avatar">
                        <img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" alt="Algolia" class="z-depth-1">
                    </div>
                    <h4>Algolia</h4>
                    <h5>Search SaaS</h5>

                    <a type="button" class="btn-floating btn-small" href="https://www.algolia.com/" target="_blank"><i class="fa fa-link"></i></a>
                </div>

                <div class="col mb-r">
                    <div class="avatar">
                        <img src="{{ asset('img/lps.png') }}" alt="LP Studio" class="z-depth-1">
                    </div>
                    <h4>LP Studios</h4>
                    <h5>Web Agency</h5>

                    <a type="button" class="btn-floating btn-small btn-fb" href="https://www.facebook.com/LinkPulsion/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a type="button" class="btn-floating btn-small btn-tw" href="https://twitter.com/LinkPulsion" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a type="button" class="btn-floating btn-small" href="https://www.linkpulsion.com/" target="_blank"><i class="fa fa-link"></i></a>
                </div>
            </div>
        </section>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}