{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}{{ 'static.plans.title' | trans }} - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">{{ 'static.plans.our' | trans }}</h1>

            <hr>

            <div class="row">
                <div class="col">
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view gradient-card-header aqua-gradient">
                            <h2 class="h2-responsive">{{ 'static.plans.basic.title' | trans }}</h2>
                            <p>{{ 'static.plans.basic.price' | trans }}</p>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <p class="card-text">{{ 'static.plans.basic.desc' | trans }}</p>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.1' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.2' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.3' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.4' | trans }}
                                    <span class="badge badge-info">{{ 'static.plans.producers' | trans }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.5' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-times red-text"></i> {{ 'static.plans.features.6' | trans }}
                                </li>
                            </ul>
                        </div>
                        <!--/.Card content-->

                        <div class="card-footer text-center">
                            {% if app.user %}
                                {% if not is_granted('ROLE_FULL_ACCESS_MONTHLY') and not is_granted('ROLE_FULL_ACCESS_YEARLY') %}
                                    <button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fa fa-check"></i> {{ 'static.plans.current' | trans }}</button>
                                {% else %}
                                    <a type="button" class="btn btn-outline-danger btn-rounded waves-effect"><i class="fa fa-arrow-down"></i> {{ 'static.plans.downgrade' | trans }}</a>
                                {% endif %}
                            {% else %}
                                <a type="button" class="btn btn-success btn-rounded waves-effect">{{ 'static.plans.sign_up' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view gradient-card-header purple-gradient">
                            <h2 class="h2-responsive">{{ 'static.plans.full_month.title' | trans }}</h2>
                            <p>{{ 'static.plans.full_month.price' | trans }}</p>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <p class="card-text">{{ 'static.plans.full_month.desc' | trans }}</p>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.1' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.2' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.3' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.4' | trans }}
                                    <span class="badge badge-info">{{ 'static.plans.producers' | trans }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.5' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.6' | trans }}
                                </li>
                            </ul>
                        </div>
                        <!--/.Card content-->

                        <div class="card-footer text-center">
                            {% if app.user %}
                                {% if is_granted('ROLE_FULL_ACCESS_MONTHLY') %}
                                    <button type="button" class="btn btn-outline-purple btn-rounded waves-effect"><i class="fa fa-check"></i> {{ 'static.plans.current' | trans }}</button>
                                {% elseif is_granted('ROLE_FULL_ACCESS_YEARLY') %}
                                    <a type="button" class="btn btn-outline-danger btn-rounded waves-effect"><i class="fa fa-arrow-down"></i> {{ 'static.plans.downgrade' | trans }}</a>
                                {% else %}
                                    <a type="button" href="{{ path('beverage_mp_subscribe', {'planId': 'full-access-monthly'}) }}" class="btn btn-outline-purple btn-rounded waves-effect"><i class="fa fa-arrow-up"></i> {{ 'static.plans.upgrade' | trans }}</a>
                                {% endif %}
                            {% else %}
                                <a type="button" class="btn btn-success btn-rounded waves-effect">{{ 'static.plans.sign_up' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view gradient-card-header peach-gradient">
                            <h2 class="h2-responsive">{{ 'static.plans.full_year.title' | trans }} <i class="fa fa-star yellow-text" data-toggle="tooltip" data-placement="top" title="{{ 'static.plans.full_year.best' | trans }}"></i></h2>
                            <p>{{ 'static.plans.full_year.price' | trans }}</p>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <p class="card-text">{{ 'static.plans.full_year.desc' | trans }}</p>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.1' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.2' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.3' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.4' | trans }}
                                    <span class="badge badge-info">{{ 'static.plans.producers' | trans }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.5' | trans }}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <i class="fa fa-check green-text"></i> {{ 'static.plans.features.6' | trans }}
                                </li>
                            </ul>
                        </div>
                        <!--/.Card content-->

                        <div class="card-footer text-center">
                            {% if app.user %}
                                {% if is_granted('ROLE_FULL_ACCESS_YEARLY') %}
                                    <button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fa fa-times"></i> {{ 'static.plans.current' | trans }}</button>
                                {% else %}
                                    <a type="button" class="btn btn-outline-orange btn-rounded waves-effect" href="{{ path('beverage_mp_subscribe', {'planId': 'full-access-yearly', 'step': 1}) }}"><i class="fa fa-arrow-up"></i> {{ 'static.plans.upgrade' | trans }}</a>
                                {% endif %}
                            {% else %}
                                <a type="button" class="btn btn-success btn-rounded waves-effect">{{ 'static.plans.sign_up' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}