{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Pricing - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">Pricing</h1>

            <hr>

            <div class="row">
                <div class="col-4">

                </div>

                <div class="col-8">

                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}