{% extends '@BeverageMP/layout.html.twig' %}

{% block title %}Terms of use - {{ parent() }}{% endblock %}

{% block seo_metatags %}
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("{{ asset('img/grapes.jpg') }}");
        }
    </style>
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid main">
        <div class="jumbotron">
            <h1 class="h1-responsive">Legals</h1>

            <hr>

            <pre>
1. Terms
    By accessing the website at http://thebeveragemarket.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
2. Use License
    a.	Permission is granted to temporarily download one copy of the materials (information or software) on MFCONSEILS' website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
        i.	modify or copy the materials;
        ii.	use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
        iii.	attempt to decompile or reverse engineer any software contained on MFCONSEILS' website;
        iv.	remove any copyright or other proprietary notations from the materials; or
        v.	transfer the materials to another person or "mirror" the materials on any other server.
    b.	This license shall automatically terminate if you violate any of these restrictions and may be terminated by MFCONSEILS at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
3. Disclaimer
    a.	The materials on MFCONSEILS' website are provided on an 'as is' basis. MFCONSEILS makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
    b.	Further, MFCONSEILS does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
4. Limitations
    In no event shall MFCONSEILS or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on MFCONSEILS' website, even if MFCONSEILS or a MFCONSEILS authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
5. Accuracy of materials
    The materials appearing on MFCONSEILS website could include technical, typographical, or photographic errors. MFCONSEILS does not warrant that any of the materials on its website are accurate, complete or current. MFCONSEILS may make changes to the materials contained on its website at any time without notice. However MFCONSEILS does not make any commitment to update the materials.
6. Links
    MFCONSEILS has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by MFCONSEILS of the site. Use of any such linked website is at the user's own risk.
7. Modifications
    MFCONSEILS may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
8. Governing Law
    These terms and conditions are governed by and construed in accordance with the laws of France and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
9 Registration
    The Registration on thebeveragemarket.com is free and termination can be stop at anytime without prior notice by sending an e-mail to billing@thebeveragemarket.com
10 Disclaimer and warranty
    TheBeveragemarket.com and it’s team verify every registration and  make every effort to provide complete and accurate information. However, we do not guarantee accuracy, completeness, timeliness or correct sequencing of the information provide on thebeveragemarket.com. All relation you develop trough Thebeveragemarket.com are solely between you and the other person.
11 Restrictions on Use
    You may not copy, display, distribute, transfer, link to, reproduce, license, frame, alter, create derivative works or republish all or any portion or content of the site for any commercial or public purpose without the prior consent of MF CONSEILS.
            </pre>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block global_modals %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block js_includes %}
    {{ parent() }}
    <script type="text/javascript">
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}