<center><h2>Invoice N° {{ invoice.number | upper }}</h2></center>

<div style="background-color: #c8c8c8">
    <p>Invoice date: {{ invoice.date | date('d/m/Y') }}</p>
    <p>Invoice reference: {{ invoice.number }}</p>
    <p>Payment mode: {{ charge.source.brand }}-{{ charge.source.last4 }}</p>
    <p>Billing: {% if invoice.billing == 'charge_automatically' %}charge automatically{% else %}send invoice{% endif %}</p>
</div>

<div>
    <table border="1" cellpadding="4">
        <tr>
            <th><strong>Description</strong></th>
            <th><strong>Amount</strong></th>
        </tr>
        <tr>
            <td>{{ invoice.lines.data[0].plan.name }}</td>
            <td>{{ invoice.lines.data[0].plan.amount/100 | number_format(2,'.',' ') }} {{ invoice.currency | upper }}</td>
        </tr>
    </table>

    <div>
        <table>
            <tr>
                <td>Total</td>
                <td>{{ invoice.amount_due/100 | number_format(2,'.',' ') }}</td>
            </tr>
            {% if invoice.tax != null %}
                <tr>
                    <td>Taxes</td>
                    <td>{{ invoice.tax }}({{ invoice.tax_percent }})</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>